{% load comments i18n %}


<div class="well">
	<h4>Utzi iruzkina:</h4>
	<form action="{% comment_form_target %}" method="post">{% csrf_token %}
		<div><input type="hidden" name="next" value="{{request.path}}" /></div>
		{% for field in form %}
			{% if field.is_hidden %}
				<div>{{ field }}</div>
			{% else %}
				{% if field.errors %}{{ field.errors }}{% endif %}
			{% endif %}
		{% endfor %}
		<textarea cols="40" id="id_comment" name="comment" rows="10"></textarea>
        <p  style="display:none;">
			<input id="id_honeypot" name="honeypot" type="text" />
		</p>
		<input type="submit" name="post" class="btn btn-primary" value="Bidali" />
		<!-- <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" /> -->
	</form>
</div>