{% load emoticons_tags %}

<div id="comments">
	<h3>Iruzkinak</h3>
	<a id="#iruzkinak"></a>
	{% for comment in comment_list %}
	<div class="media">
	        <a class="pull-left" href="{% url 'gamer_guestprofile' comment.user.username %}">
	            <img class="media-object" src="{{comment.user.get_photo.get_comment_url}}">
	        </a>
	    <div class="media-body">
	        <h4 class="media-heading"><a href="{% url 'gamer_guestprofile' comment.user.username %}">{{ comment.name }}</a>
	        <small>{{ comment.submit_date }}</small>
	        </h4>
	        {{comment.comment|urlize|emoticons}}
	    </div>
	</div>
	{% endfor %}
</div>