{% load emoticons_tags %}

<div id="comments">
	<p id="iruzkinak"></p>
	{% if comment_list > 5 %}<a id="collapse" class="pull-right" href="#more-comments">Erakutsi denak</a>{% endif %}
	<h3>Iruzkinak</h3>
	{% for comment in comment_list %}
	{% if forloop.counter == comment_list|length|add:-5 and comment_list|length > 5 %}
	<div id="last-comments" style="display:none">
	{% else %}
	{% if forloop.first and comment_list|length > 5 %}
	<div id="more-comments" style="display:none">
	{% endif %}
	{% endif %}
		<div class="media">
			<a id="c{{comment.id}}"></a>
	        <a class="pull-left" href="{% url 'gamer_guestprofile' comment.user.username %}">
	            <img class="media-object" src="{{comment.user.get_photo.get_comment_url}}">
	        </a>
		    <div class="media-body">
		        <h4 class="media-heading"><a href="{% url 'gamer_guestprofile' comment.user.username %}">{{ comment.name }}</a>
		        <small><a href="{{comment.get_absolute_url}}">{{ comment.submit_date }}</a></small>
		        </h4>
		        {{comment.comment|urlize|linebreaks|emoticons}}
		    </div>
		</div>
	
	{% if forloop.counter == comment_list|length|add:-5 and comment_list|length > 5 %}
	</div>
	{% else %}
	{% if forloop.last and comment_list|length > 5 %}
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
	
	<script>
	$('#collapse').click(function () {
	    //get collapse content selector
	    var collapse_content_selector = $(this).attr('href');
	
	    //make the collapse content to be shown or hide
	    var toggle_switch = $(this);
	    $(collapse_content_selector).toggle(function () {
	        if ($(this).css('display') == 'none') {
	            //change the button label to be 'Show'
	            //toggle_switch.html('Show');
	        } else {
	            //change the button label to be 'Hide'
	            //toggle_switch.html('Hide');
	        }
	    });
	});
        </script>
</div>
