{% extends "base.html" %}
{% load pagination_tags include comments %}

{% block title %}Txapelketak - {% endblock %}

{% block content %}
<div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Txapelketak</h1>
        </div>

        <div class="col-lg-8">
            {% autopaginate items 8 %}
            {% for tx in items %}
            {% get_comment_count for tx as comment_count %}

            {% if not forloop.counter|divisibleby:2 %}
            <div class="row">
            {% endif %}  

                <div class="col-md-6 portfolio-item">
                    <a href="{{tx.get_absolute_url}}">
                        <img class="img-responsive" src="{{tx.argazkia.get_tx_thumbnail_url}}">
                    </a>
                    <h3><a href="{{tx.get_absolute_url}}">{{tx.izena}}</a></h3>
                    <p><span class="glyphicon glyphicon-play"></span> {% if tx.jokoa.url %}<a href="{{tx.jokoa.url}}">{{tx.jokoa.izena}} {%if tx.jokoa.bertsioa %}{{tx.jokoa.bertsioa}}{% endif %}</a>{% else %}{{tx.jokoa}}{% endif%} | {{tx.get_mota_display}} | {{tx.get_modalitatea_display}}{% if comment_count %} | <a href="{{tx.get_absolute_url}}#iruzkinak">{{comment_count}} <span class="glyphicon glyphicon-comment"></span></a>{% endif %}</p>
                    <p>{{tx.get_desk_txikia|safe}}</p>
                </div>

            {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}

            <hr>

            {% paginate %}
        </div>

        <div class="col-lg-4">
            <div class="well">
                <h3>Sortu berri bat</h3>
                
                </div>
            </div>
        </div>
</div>

{% endblock %}
