{% extends "base.html" %}
{% load i18n emoticons_tags include %}

{% block title %}{{partida.get_izena}} - {% endblock %}

{% block content %}
<div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">{{partida.get_izena}}</h1>
        </div>

        <div class="col-lg-8">
 
        </div>

        <div class="col-lg-4">
            <a href="{{partida.txapelketa.get_absolute_url}}">
                <img src="{{partida.txapelketa.irudia.get_gp_thumbnail_url}}" class="img-responsive"/>
            </a>
        </div>
</div>
{% endblock %}