{% extends "base.html" %}
{% load i18n emoticons_tags include %}

{% block title %}{{partida.get_izena}} - {% endblock %}

{% block content %}
<div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">{{partida.render_izena|safe}}</h1>
        </div>

        <div class="col-lg-8">
            <div class="flex-video widescreen"><iframe width="560" height="315"
            src="//www.youtube.com/embed/{{partida.bideoa}}{% if partida.start or partida.end %}?{% endif %}{% if partida.start %}start={{partida.start}}{% endif %}{% if partida.end and partida.start %}&end={{partida.end}}{% endif %}{% if partida.end and not partida.start %}end={{partida.end}}{% endif %}"
            frameborder="0" allowfullscreen></iframe></div>
            <span class="pull-right"><strong>EMAITZA: <h2>{{partida.emaitza}}</h2></strong></span>
            <h2>{{partida.jardunaldia}}. jardunaldia</h2>
            <p><span class="glyphicon glyphicon-time"></span> {{partida.date|date:"Y/m/d H:i"}}</p>
        </div>

        <div class="col-lg-4">
            <a href="{{partida.txapelketa.get_absolute_url}}">
                <img src="{{partida.txapelketa.irudia.get_gp_thumbnail_url}}" class="img-responsive"/>
            </a>
            <div class="well">
                <h2><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-user"></i> Partaideak</h2>
                {% for partaide in partida.get_partaideak %}
                    {% if partaide.is_group %}
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                            <a href="{{partaide.get_absolute_url}}">
                            {% if partaide.get_photo %}<img src="{{partaide.get_photo.get_profilesmall_url}}" class="img-thumbnail  "/> {% endif %}
                            {{partaide.get_izena}}
                            </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            {% for j in partaide.jokalariak.all %}
                            <div class="player col-sm-2">
                                <a href="{% url 'gamer_profile' j.username %}"><img src="{{j.get_photo.get_news_thumbnail_url}}" class="img-circle" title="{{j.getFullName}}"/><span class="badge userpic">{{j.getFullName}}</span></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% if user.is_authenticated and user.is_superuser or user in partaidea.txapelketa.adminak.all %}
                <a class="btn btn-default pull-right" href="/kudeatu/txapelketak/partida/{{partida.id}}">Editatu</a>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}
