{% extends "base.html" %}
{% load i18n emoticons_tags include comments %}

{% block title %}{{item.izena}} - {% endblock %}

{% block morejs %}
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="{{STATIC_URL}}css/gracket.css"  rel="stylesheet" >
    <script src="{{STATIC_URL}}js/txapelketa.js"></script>
    <script>
        $( document ).ready(function() {
            var data = {{graphdata|safe}}
            $('#taula').gracket({
                src : data
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">{{item.izena}} <small>BETA</small></h1>
        </div>

        <div class="col-lg-8">
            {% if item.irudia %}
            <a class="fancybox" href="{{item.irudia.image.url}}">
                <img src="{{item.irudia.get_blog_url}}" class="img-responsive"/>
            </a>
            <hr>
            {% endif %}
            {% if user.is_authenticated %}
            {% if user.is_superuser or user == item.erabiltzailea %}
            <div class="well">
                <h3>Editatu txapelketa</h3>
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" href="/kudeatu/txapelketak/txapelketa/{{item.id}}">Txapelketa</a>
                    <a class="btn btn-default" href="/kudeatu/txapelketak/partida/?txapelketa__id__exact={{item.id}}">Partidak</a>
                    <a class="btn btn-default" href="/kudeatu/txapelketak/partaidea/?txapelketa__id__exact={{item.id}}">Partaideak</a>
                </div>
            </div>
            {% endif %}
            {% endif %}
            <p class="lead">{{item.desk|safe|emoticons}}</p>



            {% if not item.insk_date|irekita and item.status = '2' or item.status = '3' %}
            <div class="col-lg-12">
                {% if item.mota == '0' %}
                <h2><span class="glyphicon glyphicon-align-justify"></span> Kanporaketa</h2>
                <div id="taula"></div>

                {% else %}
                <h2><span class="glyphicon glyphicon-align-justify"></span> Sailkapena</h2>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Partaidea</th>
                                <th>Irabazitakoak</th>
                                <th>Galdutakoak</th>
                                <th>Puntuak</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for partaide in list_sailkapena %}
                            <tr>
                                <td>#{{forloop.counter}}</td>
                                <td><img src="{{partaide.get_photo.get_profilesmall_url}}" class="img-circle"/> {{partaide.get_izena}}</a></td>
                                <td>{{partaide.win}}</td>
                                <td>{{partaide.lose}}</td>
                                <td>{{partaide.points}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h2><span class="glyphicon glyphicon-calendar"></span> Egutegia</h2>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Jardunaldia</th>
                                <th>Partaideak</th>
                                <th>Emaitza</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for partida in item.get_partidak %}
                            <tr>
                                <td>#{{partida.jardunaldia}}</td>
                                <td>{{partida.get_partaide_list}}</td>
                                <td>{% if partida.emaitza %}{{partida.emaitza}}{% else %}---{% endif %}</td>
                                <td>{{partida.date|date:"Y/m/d H:i"}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="col-lg-12">
                {% if next_parts %}
                <h2><span class="glyphicon glyphicon-tower"></span> Hurrengo partidak</h2>
                {% for part in next_parts %}
                <div class="col-md-4 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{part.jardunaldia}}. partida {% if user.is_authenticated %}{% if user.is_superuser or user == item.erabiltzailea %}<a class="btn btn-default" href="/kudeatu/txapelketak/partida/{{part.id}}">Edit</a>{% endif %}{% endif %}</h3>
                        </div>
                        <div class="panel-body">
                            {% for partaide in part.partaideak.all %}
                            <p><img src="{{partaide.get_photo.get_profilesmall_url}}" class="img-circle"/> {{partaide.get_izena}}</p>
                            {%if not forloop.last %}
                            <p><img src="{{STATIC_URL}}img/versus.png"/></p>
                            {% endif %}
                            {% endfor %}
                            <hr>
                            <p>{% if part.emaitza %}<span class="badge">{{part.emaitza}}</span>{% endif %}<br/><small>{{part.date|date:"Y/m/d H:i"}}</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-lg-12">
                {% if item.live_bideoa %}
                <h2><span class="glyphicon glyphicon-play-circle"></span> Zuzenean</h2>
                <div class="flex-video widescreen"><iframe width="700" height="394" src="//www.youtube.com/embed/{{item.live_bideoa}}" frameborder="0" allowfullscreen></iframe></div>
                {% endif %}
            </div>


            {% render_comment_list for item %}

            {% render_comment_form for item %}

        </div>

        <div class="col-lg-4">
            {% if item.insk_date|irekita %}
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-plus-sign"></span> <strong>EGOERA:</strong><br/>Izen emate epea zabalik ({{item.insk_date|date:"Y/m/d H:i"}})
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                            <span class="sr-only">Izen ematea (%25)</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if item.status == '1' %}
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-question-sign"></span> <strong>EGOERA:</strong><br/>Partidak sortzen
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">Partidak sortzen (%50)</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if item.status == '2' %}
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-ok-sign"></span> <strong>EGOERA:</strong><br/>Txapelketa jokoan
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                            <span class="sr-only">Txapelketa jokoan (%75)</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if item.status == '3' %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-remove-sign"></span><strong> EGOERA:</strong><br/>Txapelketa amaituta
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Amaituta (%100)</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="well">
                {% if item.insk_date|irekita %}
                    {% if user not in item.jokalariak.all %}
                    <h3>Izena eman</h3>
                        {% if user.is_authenticated %}
                        <a href="{% url 'txapelketa_insk' item.slug %}" class="btn btn-default">Parte hartu!</a>
                        {% else %}
                        <p>Txapelketetan parte hartu ahal izateko lehendabizi Game Erauntsian izena eman behar duzu.</p>
                        <a class="btn btn-primary" href="{% url 'auth_login' %}?next={{item.get_absolute_url}}" title="Log in">{% trans 'Log in' %}</a>
                        {% endif %}
                    {% endif %}
                    {% if item.jokalariak.all %}
                    <h3>Izen emateak</h3>
                    {% for user in item.jokalariak.all %}
                    <p><a href="{% url 'gamer_profile' user.username %}"><img src="{{user.get_photo.get_profilesmall_url}}" class="img-circle"/> {{user.getFullName}}</a></p>
                    {% endfor %}
                    {% endif %}
                {% else %}
                    <h3>Partaideak</h3>
                    {% for partaide in item.get_partaideak %}
                        <p><img src="{{partaide.get_photo.get_profilesmall_url}}" class="img-circle"/> {{partaide.get_izena}}</p>
                    {% empty %}
                    <p>Partaide/taldeak sortzeko daude. Laister izango dira ikusgai</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="well">
                <h3>Modalitatea</h3>
                <p><i class="glyphicon glyphicon-align-justify"></i> <strong>{{item.get_mota_display}}</strong></p>
                <p><i class="glyphicon glyphicon-dashboard"></i> {{item.get_modalitatea_display}}</p>
            </div>
            <div class="well">
                <h3>Arauak</h3>
                {{item.arauak|safe}}
            </div>
            <div class="well">
                <h3>Antolatzaileak</h3>
                {% for admin in item.adminak.all %}
                <p><a href="{% url 'gamer_profile' admin.username %}"><img src="{{admin.get_photo.get_profilesmall_url}}" class="img-circle"/> {{admin.getFullName}}</a></p>
                {% endfor %}
            </div>
            {% if item.hashtag %}
            <div class="well">
            <h2>Txata</h2>
                <div id="tlkio" data-channel="{{item.hashtag}}" style="width:100%;height:400px;"></div><script async src="http://tlk.io/embed.js" type="text/javascript"></script>
            </div>
            {% endif %}
            <!-- {% if item.hashtag %}
            <div class="well">
                <h3>#</h3>
                <div id="tweetstreaming">
                {% for status in tweets %}
                    <div class="tweet">
                        {% include "status.html" with status=status %}
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %} -->
        </div>
</div>

<script type="text/javascript">
      // excanvas does not like radius ):
      var isIE = ($.browser.msie && parseInt($.browser.version) < 9);

      // init on data-gracket
      $("[data-gracket]").eq(0).gracket({
        cornerRadius : (isIE ? 0 : 15),
        canvasLineGap : 15
      });

      // init on data-gracket
      $("[data-gracket]").eq(1).gracket({
        cornerRadius : (isIE ? 0 : 15),
        canvasLineGap : 15
      });

      // init on data-gracket
      $("[data-gracket]").eq(2).gracket({
        cornerRadius : (isIE ? 0 : 50),
        canvasLineGap : 0,
        teamClass : "g_team_custom",
        gameClass : "g_game_custom",
        currentClass : "g_current_custom",
        canvasLineColor : "#444",
        winnerClass : "g_winner_custom"
      });

      // init on data-gracket
      $("[data-gracket]").eq(3).gracket({
        cornerRadius : (isIE ? 0 : 15),
        canvasLineGap : 15
      });

      // init on data-gracket
      $("[data-gracket]").eq(4).gracket({
        cornerRadius : (isIE ? 0 : 15),
        canvasLineGap : 15
      });

      // init on data-gracket
      $("[data-gracket]").eq(5).gracket({
        cornerRadius : (isIE ? 0 : 15),
        roundLabels : ["SPORTS : 1st Round", "SPORTS : 2nd Round", "SPORTS : WINNER!!!!"]
      });

      // add some labels
      $(".container-secondary .secondary-bracket .g_winner")
        .parent()
        .css("position", "relative")
        .prepend("<h4>3rd Place</h4>");

      $(".container-secondary > div").eq(0).find(".g_winner")
        .parent()
        .css("position", "relative")
        .prepend("<h4>Winner</h4>");
</script>

{% endblock %}
