{% extends "base.html" %}
{% load i18n emoticons_tags include comments %}

{% block title %}{{item.izena}} - {% endblock %}

{% block morejs %}
    <link href="{{STATIC_URL}}css/gracket.css">
    <script src="{{STATIC_URL}}js/txapelketa.js"></script>
    <script>
        $( document ).ready(function() {
            var data = {{Kanporaketadatuak|safe}}
            $('#taula').gracket({
                src : data
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">{{item.izena}} <small>BETA</small></h1>
        </div>

        <div class="col-lg-8">
            {% if item.irudia %}
            <a class="fancybox" href="{{item.irudia.image.url}}">
                <img src="{{item.irudia.get_blog_url}}" class="img-responsive"/>
            </a>
            <hr>
            {% endif %}
            {% if user.is_authenticated %}
            {% if user.is_superuser or user == item.erabiltzailea %}
            <div class="well">
                <h3>Editatu txapelketa</h3>
                <a class="btn btn-default" href="/kudeatu/txapelketak/txapelketa/{{item.id}}">Editatu</a>
            </div>
            {% endif %}
            {% endif %}
            <p class="lead">{{item.desk|safe|emoticons}}</p>



            {% if not item.insk_date|irekita %}
            <div class="col-lg-12">
                {% if item.mota == '0' %}
                <h2><span class="glyphicon glyphicon-align-justify"></span> Kanporaketa</h2>
                <div id="taula"></div>

                {% else %}
                <h2><span class="glyphicon glyphicon-align-justify"></span> Sailkapena</h2>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Partaidea</th>
                                <th>Irabazitakoak</th>
                                <th>Galdutakoak</th>
                                <th>Puntuak</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for partaide in list_sailkapena %}
                            <tr>
                                <td>#{{forloop.counter}}</td>
                                <td><img src="{{partaide.get_photo.get_profilesmall_url}}" class="img-circle"/> {{partaide.get_izena}}</a></td>
                                <td>{{partaide.win}}</td>
                                <td>{{partaide.lose}}</td>
                                <td>{{partaide.points}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h2><span class="glyphicon glyphicon-calendar"></span>Egutegia</h2>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Jardunaldia</th>
                                <th>Partaideak</th>
                                <th>Emaitza</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for partida in item.get_partidak %}
                            <tr>
                                <td>#{{partida.jardunaldia}}</td>
                                <td>{{partida.get_partaide_list}}</td>
                                <td>{% if partida.emaitza %}{{partida.emaitza}}{% else %}---{% endif %}</td>
                                <td>{{partida.date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            {% endif %}


            {% render_comment_list for item %}

            {% if user.is_authenticated %}
                {% render_comment_form for item %}
            {% else %}
                <p>Mesedez, <a href="{% url 'auth_login' %}">sartu</a> iruzkina utzi ahal izateko.</p>
            {% endif %}

        </div>

        <div class="col-lg-4">
            {% if item.insk_date|irekita %}
            <div class="alert alert-success" role="alert"><strong>EGOERA:</strong><br/>Izen emate epea zabalik ({{item.insk_date|date:"Y/m/d H:i"}})</div>
            {% endif %}
            <div class="well">
                {% if item.insk_date|irekita %}
                    {% if user not in item.jokalariak.all %}
                    <h3>Izena eman</h3>
                        {% if user.is_authenticated %}
                        <a href="{% url 'txapelketa_insk' item.slug %}" class="btn btn-default">Parte hartu!</a>
                        {% else %}
                        <p>Txapelketetan parte hartu ahal izateko lehendabizi Game Erauntsian izena eman behar duzu.</p>
                        <a class="btn btn-primary" href="{% url 'auth_login' %}?next={{item.get_absolute_url}}" title="Log in">{% trans 'Log in' %}</a>
                        {% endif %}
                    {% endif %}
                    {% if item.jokalariak.all %}
                    <h3>Izen emateak</h3>
                    {% for user in item.jokalariak.all %}
                    <p><a href="{% url 'gamer_profile' user.username %}"><img src="{{user.get_photo.get_profilesmall_url}}" class="img-circle"/> {{user.fullname}}</a></p>
                    {% endfor %}
                    {% endif %}
                {% else %}
                    <h3>Partaideak</h3>
                    {% for partaide in item.get_partaideak %}
                        <p><img src="{{partaide.get_photo.get_profilesmall_url}}" class="img-circle"/> {{partaide.get_izena}}</a></p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="well">
                <h3>Modalitatea</h3>
                <p><i class="glyphicon glyphicon-align-justify"></i> <strong>{{item.get_mota_display}}</strong></p>
                <p><i class="glyphicon glyphicon-dashboard"></i> {{item.get_modalitatea_display}}</p>
            </div>
            <div class="well">
                <h3>Arauak</h3>
                {{item.arauak|safe}}
            </div>
            <div class="well">
                <h3>Antolatzailea</h3>
                <img src="{{item.erabiltzailea.get_photo.get_profilesmall_url}}" class="img-circle"/> {{item.erabiltzailea.fullname}}</a>
            </div>
        </div>
</div>

<script type="text/javascript">
      // excanvas does not like radius ):
      var isIE = ($.browser.msie && parseInt($.browser.version) < 9);

      // init on data-gracket
      $("[data-gracket]").eq(0).gracket({
        cornerRadius : (isIE ? 0 : 15),
        canvasLineGap : 15
      });

      // init on data-gracket
      $("[data-gracket]").eq(1).gracket({
        cornerRadius : (isIE ? 0 : 15),
        canvasLineGap : 15
      });

      // init on data-gracket
      $("[data-gracket]").eq(2).gracket({
        cornerRadius : (isIE ? 0 : 50),
        canvasLineGap : 0,
        teamClass : "g_team_custom",
        gameClass : "g_game_custom",
        currentClass : "g_current_custom",
        canvasLineColor : "#444",
        winnerClass : "g_winner_custom"
      });

      // init on data-gracket
      $("[data-gracket]").eq(3).gracket({
        cornerRadius : (isIE ? 0 : 15),
        canvasLineGap : 15
      });

      // init on data-gracket
      $("[data-gracket]").eq(4).gracket({
        cornerRadius : (isIE ? 0 : 15),
        canvasLineGap : 15
      });

      // init on data-gracket
      $("[data-gracket]").eq(5).gracket({
        cornerRadius : (isIE ? 0 : 15),
        roundLabels : ["SPORTS : 1st Round", "SPORTS : 2nd Round", "SPORTS : WINNER!!!!"]
      });

      // add some labels
      $(".container-secondary .secondary-bracket .g_winner")
        .parent()
        .css("position", "relative")
        .prepend("<h4>3rd Place</h4>");

      $(".container-secondary > div").eq(0).find(".g_winner")
        .parent()
        .css("position", "relative")
        .prepend("<h4>Winner</h4>");
</script>

{% endblock %}
