{% extends "base.html" %}
{% load emoticons_tags include comments %}

{% block title %}{{item.izena}} - {% endblock %}

{% block content %}
<div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">{{item.izena}}</h1>
        </div>

        <div class="col-lg-8">
            {% if item.irudia %}
            <a class="fancybox" href="{{item.irudia.image.url}}">
                <img src="{{item.irudia.get_blog_url}}" class="img-responsive"/>
            </a>
            <hr>
            {% endif %}
            {% if user.is_authenticated %}
            {% if user.is_superuser or user == item.erabiltzailea %}
            <div class="well">
                <h3>Editatu txapelketa</h3>
                <a class="btn btn-default" href="/kudeatu/txapelketak/txapelketa/{{item.id}}">Editatu</a>
            </div>
            {% endif %}
            {% endif %}
            <p class="lead">{{item.desk|safe|emoticons}}</p>
            
        </div>

        <div class="col-lg-4">
            <div class="well">
                {% if item.insk_date|irekita %}
                    {% if user not in item.jokalariak.all %}
                    <h3>Izena eman</h3>
                    <a href="#" class="btn btn-default">Parte hartu!</a>
                    {% endif %}
                    <h3>Izen emateak</h3>
                    {% for user in item.jokalariak.all %}
                    <p><a href="{% url 'gamer_profile' user.username %}"><img src="{{user.get_photo.get_profilesmall_url}}" class="img-circle"/> {{user.fullname}}</a></p>
                    {% endfor %}
                {% else %}
                    <h3>Partaideak</h3>
                    {% for partaide in item.get_partaideak %}
                        <p><img src="{{partaide.get_photo.get_profilesmall_url}}" class="img-circle"/> {{partaide.get_izena}}</a></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
</div>

{% endblock %}
