{% load i18n %}
<!doctype html>
<html lang="eu">

<head>
    <title>Game Erauntsian izen ematea</title>
</head>

<body>
<p>
    Zu (edo zure identitatea erabili nahi duenen batek) Game Erauntsia webgunean
    izen-emateko eskaera egin du. Zu ez bazara izan, ez egin kasurik eposta
    honi eta zure helbide hau ezabatua izango da gure datu basetik. 
</p>
<p>
    Kontu hau aktibatzeko, mesedez, egin klik hurrengo loturan
    {{ expiration_days }} egun baina lehenago:
</p>

<p>
    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}">
        {{site.domain}}{% url 'registration_activate' activation_key %}
    </a>
</p>
<p>
    Agur bero bat,
    Game Erauntsia
</p>
</body>

</html>