{% extends "base.html" %}
{% load i18n bootstrap %}

{% block title %}Pasahitza berrezarri - {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h2>Pasahitza berreskuratu</h2>
		<p>
		    Pasahitza galdu duzu? Sartu hemen zure eposta eta berri bat sortzeko argibidea bidaliko dizkizugu.
		</p>
		<form method="post" action="">
		    {% csrf_token %}
		    {{ form|bootstrap }}
		    <input class="btn btn-primary btn-lg" type="submit" value="Pasahitza berrezarri" />
		</form>
	</div>
</div>
{% endblock %}
