{% load i18n %}

Kaixo {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

Zu (edo zure identitatea erabili nahi duenen batek) Game Erauntsia webgunean
pasahitza berreskuratzeko eskaera egin du. Zu ez bazara izan, ez egin kasurik eposta
honi.


Pasahitza berreskuratzeko ondorengo loturan klik egin:

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

Gogoratu, zure erabiltzaile izena: {{ username }}

Agur bero bat,
Game Erauntsiako Adminstrazioa
http://gamerauntsia.eus