{%load breadcrumbs include%}
<!DOCTYPE html>
<html lang="eu">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Game Playak euskaraz!">
    <meta name="author" content="Gamerauntsia">

    <title>{% block title %}{% endblock%}Gamerauntsia</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link rel="shortcut icon" type="image/ico" href="{{STATIC_URL}}img/favicon.ico" />
    <link href="{{STATIC_URL}}css/small-business.css" rel="stylesheet">

    <script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>

    {% block morejs %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{{STATIC_URL}}img/logo.png" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" title="Sarrera">Sarrera</a></li>
                    <li><a href="/gameplayak">Game Playak</a></li>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">GamePlayak <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/gameplayak">Denak</a></li>
                            <li class="divider"></li>
                            <li><a href="/jokoak" title="Jokoak">Jokoak</a></li>
                            <li><a href="/gaiak" title="Gaiak">Gaiak</a></li>
                        </ul>
                    </li> -->
                    <li><a href="/berriak" title="Berriak">Berriak</a></li>
                    <li><a href="/nor-gara" title="Nor gara">Nor gara</a></li>
                    <li><a href="/kontaktua" title="Kontaktua">Kontaktua</a></li>
                    <li>
                        <form class="navbar-search pull-right" action="/bilaketa">
                            <div class="input-group search-query">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Bilatu!</button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
        <footer>
            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons-en baimena" style="border-width:0" src="{{STATIC_URL}}img/cc_88x31.png" /></a> Gamerauntsia 2014</p>
                </div>
                <div class="col-rg-4">
                    <img src="{{STATIC_URL}}img/footer.png"/>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
