<div id="cell_1">
    <h2>Azken berriak</h2>
    <br />
    {%if berriak%}
    <ul>
    	{%for berria in berriak%}
		<li><a href="/berriak/{{berria.slug}}" >{{berria.izenburua}}</a></li>
		{%endfor%}   
    </ul>
    {%else%}
    <p>Ez da berririk aurkitu.</p>
    {%endif%}
    <a href="/berriak/">Gehiago irakurri...</a>
  </div>
  <div id="cell_1">
    <h2>Jarrai iezaguzu</h2>
    <br />
    <a href="/azken-berriak/feed"><img src="/static/irudiak/feed.png" alt="Rss" /></a>
    <a href="http://twitter.com/gamerauntsia_info" target="blank"><img src="/static/irudiak/twitter.png" alt="Twitter" /></a>
    <a href="http://www.facebook.com/pages/gamerauntsia/288348697944020" target="blank"><img src="/static/irudiak/facebook.png" alt="Facebook" /></a>
  </div>
  <div id="cell_1">
    <h2>Nor gara</h2>
    <br />
    <table>
		<tr>
			<td>
				<img src="/static/irudiak/team.png" alt="gamerauntsia taldea" />
			</td>
			<td>
				<p>Sarean hainbat aplikaziori buruz euskaraz dagoen tutorial falta ikusita webgune hau garatzea erabaki duen taldea gara.</p>			
			</td>
		</tr>    
    </table>
    <a href="/nor-gara/">Gehiago Irakurri...</a>
  </div>
