{% extends "base.html" %}

{% block morejs %}
<script>
  (function() {
    var cx = '014919915022139413902:fkyltvbl_dq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}

{% block content%}
<!-- Put the following javascript before the closing </head> tag. -->
<div class="row">
    <div class="col-md-12">
        <h1>Bilaketa</h1>
	<p><gcse:search></gcse:search></p>
    </div>
</div>
{%endblock%}
