{% extends "base.html" %}

{% block content%}
<!-- Put the following javascript before the closing </head> tag. -->
<div class="row">
    <div class="col-md-12">
        <h1>Bilaketa</h1>
        <script>
          (function() {
            var cx = '017970277364664224976:35smg01kvf4';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
	</div>
</div>
{%endblock%}
