{% extends "base.html" %}

{% block content%}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Zer dira cookie-ak</h1>


		<h3>Zer da cookie bat?</h3>

		<p>Cookie bat web zerbitzari batek erabiltzailearen fitxategi sisteman idazten duen testu fitxategi txiki bat da. Horrela, zerbitzariak erabiltzaile konkretu batekiko orri independenteak erakutsi ditzake. Cookien bidez nabigatzen ari denaren inguruko ohiturak ondorioztatu daitezke eta ondorioz cookien erabilera maltzurra egin daiteke. (Wikipedia)</p>
 
		<h3>Webgune honek ze motatako cookieak erabiltzen ditu?</h3>

		<p>Sesio cookie-ak: sesio cookieak memorizatu egiten dira eta soilik denbora bateko balioa dute. Cookie hauek ez dute informazioa modu iraunkorrean gordetzen ordenagailuaren disko gogorrean.</p>

		<p>Estatistika cookie-ak: erabiltzailearen gailuan cookie bat sortzen du kanpoko analitika tresna batek (Google Analytics). Cookie hau soilik bisitan sortzen da, eta aurrerago egiten dituen bisitetan erabiltzailea modu anonimoan identifikatzeko balioko du. Cookie honen helburu nagusiak honakoak dira:</p>
			<ul>
				<li>Erabiltzaileen identifikazio anonimoa baimentzea (nabigatzaileak eta gailuak identifikatzen ditu, ez pertsonak) eta aldi berean bisitarien gutxi gorabeherako kopurua eta igarotzen duten denbora.</li>
				<li>Modu anonimo batean eduki bisitatuenak ezagutzea eta aldi berean bisitarientzat eduki erakargarrienak zeintzuk diren jakitea.</li>
				<li>Sartzen ari den bisitaria berria den edo bisita errepikatzen ari den jakitea. Informazio gehiago izateko: Google Analytics</li>
			</ul>
 
		<h3>Nola desgaitu cookie-ak nabigatzailean?</h3>

		<p>Gaur egun nabigatzaile gehienek erabiltzaileri aukera ematen diote cookie-ak onartu nahi dituen edo ez eta zeintzuk nahi dituen konfiguratzeko. Doikuntza horiek nabigatzailearen menuko “aukerak” edo “lehentasunak” ataletatik moldatu daitezke. Hauek dira nabigatzaile garrantzitsuenetan cookie-ak itxuratzeko jarraitu beharreko oinarrizko pausoak:</p>
 
 		<p>Chrome: Ezarpenak > Erakutsi aukera aurreratuak > Pribatutasuna > Edukiaren ezarpenak >Informazio gehiago nahi izan ezkero, Googlen soportera edo nabigatzailearen laguntza gunera jo beharko da.</p>
		<p>Firefox: Tresnak > Aukerak > Pribatutasuna > Historia > Ezarpen pertsonalizatuak erabiliko ditu historiarako
			Informazio gehiago nahi izan ezkero, Mozillaren soportera edo nabigatzailearen laguntza gunera jo beharko da.</p>
		<p>Internet Explorer: Tresnak > Interneteko aukerak > Pribatutasuna > Ezarpenak Informazio gehiago nahi izan ezkero, Microsoften soportera edo nabigatzailearen laguntza gunera jo beharko da.</p>
		<p>Safari: Ezarpenak > Segurtasuna Informazio gehiago nahi izan ezkero, Appelen soportera edo nabigatzailearen laguntza gunera jo beharko da.</p>
		<p>Opera: Ezarpenak > Aukerak > Aurreratua Informazio gehiago nahi izan ezkero, Operaren soportera edo nabigatzailearen laguntza gunera jo beharko da.</p>
    </div>
</div>
{%endblock%}