{% extends "base.html" %}

{% block content%}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Erabilera baldintzak</h1>
        <p>
        	Guraso edo tutoreen baimenik ez duten adinik gabekoek debekatuta dute Gamerauntsia.com-era sarrera eta erabilpena. Guraso eta tutoreei gogorarazten zaie beraien ardura dela beraien menpe dauden adinik gabekoentzat zein zerbitzu eta/edo eduki diren egokiak jakitea.
        </p>
        <p>
			Erabiltzaileak onartzen du Gamerauntsia.com-eko zerbitzuak modu jakitun eta libre batean erabiliko dituela, legezko asmo eta fede onarekin. Erabiltzailea bere ekintzen arduradun bakarra da, bere ordenagailu, osagarri etab. –ek  izan dezaketen kalteak edo edukien erabilera okerren ardura guztietatik salbuesten ditu Gamerauntsia.com-eko kudeatzaile eta laguntzaileak. Gainera, hitzematen du hemen dauden edukiak legez kanpoko erabiletarako ez erabiltzea eta eskeinitako zerbitzuen osotasuna errespetatzea. Erabiltzaileari gogorarazten zaio legea berdin ezartzen dela sare barruan eta kanpoan, bere ekintzen arduradun osoa delarik.
		</p>
		<p>
			Gamerauntsia.com-ek ez du ematen inongo biderik legez kanpoko kopiak lortu edo egiteko, ez dago kontenplatuta edozein erabilpen ondorengo legearen aurka doana: apirilak 12-ko RD 1/1996-ko  Art. 32.2 (kopia pribatua) edo 100.2 (segurtasun kopia), zeinarekin Jabetza Intelektualaren Legearen Testu Birgaldatua. Kopia ilegalen erabilerarako laguntza bila bazabiltza, hau ez da zure lekua.
		</p>
		<p>
			Erabiltzaileak uko egingo dio edozein eduki iraingarri, lizun, pornografiko, biolentzia esplizitudun, mehatxagarri, xenofobo idatzi edo estekatzeari hurrengo arrazoiegatik: arraza, sexua, ideologia, erlijioa  edo edozein modutan moralaren aurka, ordena publikoa, oinarrizko eskubideak, askatasun publikoa, ohorea, intimitate edo hirugarrenen irudiaren kontra doana. Era berean,  uko egingo diozu jazarri, mehatxatu eta beste erabiltzaileen informazio pribatua hedatu edo baimenik gabe lortzeari.
		</p>
		<p>
			Erabiltzaileak uko egingo dio kontu anitz sortzeari edukiak sustatzeko helburuarekin, eztabaidak simulatzeari, beste pertsona batzuen nortasuna ordezkatzeari, zigorrak ekiditeari  edo Gamerauntsia.com-en funtzionamendu ona edozein modutan aldatzen ahalegintzeari. Era berean uko egin behar diozu zerbitzuak webguneak, enpresak, kapoko zerbitzuak, kanpaina komertzialak, politikak, erlijioak etab. sustatzeko helburuaz erabiltzeari.
		</p>
		<p>
			Erabiltzaileak konpromisoa hartzen du edukiak islatzen dituen tituluak erabiltzeko, ongi kategorizatzeko, eta edukiak sortu aurretik bilaketak egiteko edukien bikoizketa ekiditeko.
		</p>
		<p>
			Erabiltzaileak onartzen du, kontrakoa esan ezean, Gamerauntsia-k gomendatutako eta erabilitako edukietara egokitzen direla argitaratuko dituen edukiak.
		</p>
		<p>
			Erabiltzaileak hitzematen du errespetatzen duela lege ohar hau edo web honetan egon daitekeen beste edozein ohar, baita ere, Gamerauntsia.com-eko administratzaile edo moderatzaileek ezarritako  arauak eta hartutako erabakiak. Erabilpen baldintzak ez betetzeak ekar dezake edukia ezabatu edo/eta aldatzea, erabiltzaile kontu, IP edo domeinua blokeatzea, eskeinitako zerbitzu batzuetara edo denetara  sarrera mugatzea, eta neurri edo salaketa egokiak hartzea espainiar eta nazio arteko legediaren arabera.
		</p>
		<p>
			Zerbitzua hobetzeko helburuarekin, Gamerauntsia.com-eko kudeatzaileek erabilpen baldintza hauek aurretik abisatu gabe aldatzeko eskubidea gordetzen dute.
        </p>
    </div>
</div>
{%endblock%}