{% extends 'base.html' %}


{% block morejs %}
<link rel="stylesheet" href="{{STATIC_URL}}star-ratings/css/star-ratings.css">
<script type="text/javascript" src="{{STATIC_URL}}star-ratings/js/dist/star-ratings.min.js"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h1>Kaixo lagunok!</h1>
        <div class="alert alert-danger" role="alert"><strong>Oharra:</strong> Mantenu lanetan gabiltza eta azala erakusteko arazoak ditugu... Ahal bezain laster jarriko dugu berriz martxan. Baliteke beste zerbait ere oker ikustea eta eskertuko dugu arazoaren berri administratzaileei emanez gero. Barkatu eragozpenak!</div>
        <img class="img-responsive" src="http://i.imgur.com/vzRN4in.jpg" />
    </div>
</div>

{% endblock %}
