{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% for gp in gameplayak %}
    {% if forloop.first %}
    <div class="col-lg-8">
        <div class="flex-video widescreen"><iframe width="700" height="394" src="//www.youtube.com/embed/{{gp.bideoa}}" frameborder="0" allowfullscreen></iframe></div>
        <!-- take out img-rounded if you don't want the rounded corners on the image -->
    </div>
    <div class="col-lg-4">
        <h1>{{gp.izenburua}}</h1>
        <p><span class="glyphicon glyphicon-play"></span> {% if gp.jokoa.url %}<a href="{{gp.jokoa.url}}">{{gp.jokoa.izena}} {%if gp.jokoa.bertsioa %}{{gp.jokoa.bertsioa}}{% endif %}</a>{% else %}{{gp.jokoa}}{% endif%} | <span class="glyphicon glyphicon-time"></span> {{gp.iraupena_min}}min {{gp.iraupena_seg}}seg</p>
        <p>{{gp.get_desk_index|safe}}</p>
        <a class="btn btn-primary btn-lg" href="{{gp.get_absolute_url}}">Gehiago nahi? <span class="glyphicon glyphicon-play-circle"></span></a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<hr>

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            Euskal gameplay komunitatearen jokaldirik onenak hemen dituzu ikusgai! Gozatu!
        </div>
    </div>
</div> -->

<div class="row">
    {% for gp in gameplayak %}
    {% if not forloop.first %}
    <div class="col-lg-4">
        <!--<iframe width="350" height="197" src="//www.youtube.com/embed/{{gp.bideoa}}" frameborder="0" allowfullscreen></iframe>-->
        <a href="{{gp.get_absolute_url}}"><img class="img-responsive" src="{{gp.argazkia.get_gp_thumbnail_url}}"></a>
        <h2>{{gp.izenburua}}</h2>
        <p><span class="glyphicon glyphicon-play"></span> {% if gp.jokoa.url %}<a href="{{gp.jokoa.url}}">{{gp.jokoa}}</a>{% else %}{{gp.jokoa}}{% endif%} | <span class="glyphicon glyphicon-time"></span> {{gp.iraupena_min}}min {{gp.iraupena_seg}}seg | <img src="{{gp.plataforma.icon.get_profilesmall_url}}"/></p>
        <p>{{gp.get_desk_txikia|safe}}</p>
        <a class="btn btn-default" href="{{gp.get_absolute_url}}">Ikusi +</a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
