{% extends "base.html" %}

{% block content%}
<h1>Lizentziak</h1>

<h2>Edukia</h2>
<p>Kontrakoa adierazi ezean, webgune honetako edukiak
<a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">
  CreativeCommons Aitortu-PartekatuBerdin</a>
lizentziapean banatzen dira, eta beraz,  kopiatu,
moldatu, zabaldu eta argitaratzeko libre zara, beti ere, gure egiletza
direla aitortzen baduzu eta baldintza beretan egiten baduzu.</p>

<a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">
  <img src="{{STATIC_URL}}img/cc_88x31.png"></a>

<h2>Iturburu kodea</h2>
<p>
Webgune hau software librea da, eta beraz,
  <a target="_blank" href="https://github.com/GameErauntsia">kodea</a>
kopiatu, aztertu, moldatu eta zabaltzeko libre zara, beti ere,
<a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.html">
AGPL v3.0</a> lizentziaren eskakizunak betetzen badituzu.</p>

<a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.html">
  <img src="{{STATIC_URL}}img/agplv3-155x51.png"></a>

<h2>Javascript liburutegiak</h2>
Hauek dira webgune honek erabiltzen dituen Javascript liburutegiak eta haien lizentziak.
<table class="table" id="jslicense-labels1">
  <thead>
    <tr>
      <th>Fitxategia</th>
      <th>Lizentzia</th>
      <th>Iturburu kodea</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.google.com/recaptcha/api.js">google/recaptcha/api.js</a></td>
      <td>Proprietary</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://secure.statcounter.com/counter/counter.js">statcounter/counter.js</a></td>
      <td>Proprietary</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://matomo.gamerauntsia.eus/matomo.js">matomo.js</a></td>
      <td><a href="https://opensource.org/licenses/BSD-3-Clause">BSD-3-Clause</a></td>
      <td><a href="https://github.com/matomo-org/matomo/blob/4.4.1/js/piwik.js">piwik.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/jquery-3.6.0.min.js">jquery-3.6.0.min.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="{{STATIC_URL}}js/jquery-3.6.0.js">jquery-3.6.0.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/bootstrap.min.js">bootstrap.min.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="{{STATIC_URL}}js/bootstrap.js">bootstrap.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/jquery.autogrow-textarea.js">jquery.autogrow-textarea.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="{{STATIC_URL}}js/jquery.autogrow-textarea.js">jquery.autogrow-textarea.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/select2/js/select2.min.js">select2.min.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="{{STATIC_URL}}js/select2/js/select2.js">select2.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/select2/js/i18n/eu.js">select2/eu.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="{{STATIC_URL}}js/select2/js/i18n/eu.js">select2/eu.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/footable.min.js">footable.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL-3.0</a></td>
      <td><a href="{{STATIC_URL}}js/footable.js">footable.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/fancybox/jquery.fancybox.pack.js">jquery.fancybox.pack.js</a></td>
      <td><a href="https://creativecommons.org/licenses/by-nc/3.0/legalcode">CC-BY-NC-3.0</a></td>
      <td><a href="{{STATIC_URL}}js/fancybox/jquery.fancybox.js">jquery.fancybox.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/fancybox/helpers/jquery.fancybox-buttons.js">jquery.fancybox-buttons.js</a></td>
      <td><a href="https://creativecommons.org/licenses/by-nc/3.0/legalcode">CC-BY-NC-3.0</a></td>
      <td><a href="{{STATIC_URL}}js/fancybox/helpers/jquery.fancybox-buttons.js">jquery.fancybox-buttons.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/fancybox/helpers/jquery.fancybox-media.js">jquery.fancybox-media.js</a></td>
      <td><a href="https://creativecommons.org/licenses/by-nc/3.0/legalcode">CC-BY-NC-3.0</a></td>
      <td><a href="{{STATIC_URL}}js/fancybox/helpers/jquery.fancybox-media.js">jquery.fancybox-media.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/jquery.gracket.min.js">jquery.gracket.min.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="{{STATIC_URL}}js/jquery.gracket.js">jquery.gracket.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/denboralerroa/denboralerroa.js">denboralerroa.js</a></td>
      <td><a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
      <td><a href="{{STATIC_URL}}js/denboralerroa/denboralerroa.js">denboralerroa.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/denboralerroa/modernizr.js">modernizr.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="{{STATIC_URL}}js/denboralerroa/modernizr.js">modernizr.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}js/cookie-consent.js">cookie-consent.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="https://github.com/klaxit/cookie-consent">Github Cookie Consent</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}star-ratings/js/dist/star-ratings.min.js">star-ratings.min.js</a></td>
      <td><a href="https://opensource.org/licenses/BSD-3-Clause">BSD-3-Clause</a></td>
      <td><a href="{{STATIC_URL}}star-ratings/js/dist/star-ratings.js">star-ratings.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}django_tinymce/init_tinymce.js">init_tinymce.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
      <td><a href="{{STATIC_URL}}django_tinymce/init_tinymce.js">init_tinymce.js</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/tinymce.min.js">tinymce.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/themes/silver/theme.min.js">tinymce/theme.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/icons/default/icons.min.js">tinymce/icons.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/advlist/plugin.min.js">tinymce/advlist/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/autolink/plugin.min.js">tinymce/autolink/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/link/plugin.min.js">tinymce/link/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/image/plugin.min.js">tinymce/image/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/charmap/plugin.min.js">tinymce/charmap/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/lists/plugin.min.js">tinymce/lists/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/print/plugin.min.js">tinymce/print/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/preview/plugin.min.js">tinymce/preview/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/searchreplace/plugin.min.js">tinymce/searchreplace/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/anchor/plugin.min.js">tinymce/anchor/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/fullscreen/plugin.min.js">tinymce/fullscreen/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/code/plugin.min.js">tinymce/code/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/codesample/plugin.min.js">tinymce/codesample/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/insertdatetime/plugin.min.js">tinymce/insertdatetime/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/media/plugin.min.js">tinymce/media/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/table/plugin.min.js">tinymce/table/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/contextmenu/plugin.min.js">tinymce/contextmenu/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/paste/plugin.min.js">tinymce/paste/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/plugins/visualblocks/plugin.min.js">tinymce/visualblocks/plugin.min.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="{{STATIC_URL}}tinymce/langs/eu.js">tinymce/langs/eu.js</a></td>
      <td><a href="https://www.gnu.org/licenses/lgpl-2.1.html">LGPL-2.1</a></td>
      <td><a href="https://download.tiny.cloud/tinymce/community/tinymce_5.10.1_dev.zip">tinymce_5.10.1_dev.zip</a></td>
    </tr>
    <tr>
      <td><a href="https://code.highcharts.com/10.3.2/highcharts.js">highcharts.js</a></td>
      <td><a href="https://highcharts.com/license">Highcharts license</a></td>
      <td><a href="https://code.highcharts.com/zips/Highcharts-10.3.2.zip">Highcharts-10.3.2.zip</a></td>
    </tr>
    <tr>
      <td><a href="https://code.highcharts.com/10.3.2/modules/exporting.js">highcharts/modules/exporting.js</a></td>
      <td><a href="https://highcharts.com/license">Highcharts license</a></td>
      <td><a href="https://code.highcharts.com/zips/Highcharts-10.3.2.zip">Highcharts-10.3.2.zip</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
