{% extends "base.html" %}

{% block content%}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Pribatutasun politika</h1>
        <p>Gamerauntsia.com-ekin edozein komunikazio posta elektroniko bidez, edo webgunean dauden formularioen bidez izateak, zure datu pertsonalak Gamerauntsia.com-en datu basean gordetzea onartzea dakar.</p>

		<p>Datu pertsonal hauek Abenduaren 13ko, Izaera Pertsonaldun Datuen Babeserako 15/1999 Lege Organikoak dioenaren arabera izango dira tratatuak.</p>

		<p>Beraz, interesatuak bere atzipen, zuzenketa, ezeztatze eta oposizio eskubideak gauzatu ahal izango ditu adierazitako datu basean ageri diren datu pertsonalekiko, bere onarpena, idatziz atzera bota ahal izango duelarik edozein momentutan.</p>

		<p>Horretarako idatzizko komunikazio bidez egin ahal izango dute, <a href="{% url 'kontaktua' %}">kontaktu formularioa</a> erabilita.</p>
    </div>
</div>
{%endblock%}