{% load humanize l10n tweets %}
{% if status %}
{% localize off %}
<div class="media">
 <img class="media-object img-rounded pull-left" src="{{status.user.profile_image_url}}" height="50" width="50" />
 <div class="media-body">
   <h4 class="tweet_header">{{status.user.user_name}}
   <small><a href="http://twitter.com/{{status.user.screen_name}}"> @{{status.user.screen_name}}</a>
     <span class="statusdate">
      |
     <a href="http://twitter.com/{{status.user.screen_name}}/status/{{status.id|unlocalize}}">{{status.created_at}}
     </a>
     </span>
     </small>
   </h4>
   <span>{{status|renderText|safe}}</span></br>
        {% if status.retweeted %}
   <span>
     <small><i class="icon-retweet"></i> <a href="http://twitter.com/{{status.user.screen_name}}">{{status.user.screen_name}}</a-(e)k bertxiotua</small>
   </span><br/>
   {% endif %}
   <div class="tw_wrapper">
     <div class="twitter_options {{status.twitter_id}}">
         <small>
             <a href="https://twitter.com/intent/tweet?in_reply_to={{status.id|unlocalize}}" class="twitter_option"><i class="icon-arrow-left"></i> Erantzun</a> <a href="https://twitter.com/intent/retweet?tweet_id={{status.id|unlocalize}}" class="twitter_option"><i class="icon-retweet"></i> Bertxiotu</a> <a href="https://twitter.com/intent/favorite?tweet_id={{status.id|unlocalize}}" class="twitter_option"><i class="icon-star"></i> Gogokoa</a>
         </small>
     </div>
   </div>
 </div>
</div>
{% endlocalize %}
{% endif %}
