{% load i18n %}

{% if user.is_authenticated %}

	<a class="dropdown-toggle" data-toggle="dropdown" href="{{% url 'gamer_profile' user.username  %}">
		<img class="userlogged" width="30" height="30" src="{{user.argazkia.get_profilesmall_url}}" alt="{{user.username}}" />
	<b class="caret"></b>
	</a>
	<ul  class="dropdown-menu pull-right">
		<li><a href="{% url 'gamer_profile' user.username  %}">{{user.getFullName}}</a></li>
	</ul>
{%else%}
    <a class="btn" href="{% url 'auth_login' %}?next={{url}}" title="Log in">
		{% trans 'Log in' %}</a>
{%endif%}