{% load include i18n %}

{% if user.is_authenticated %}

	<a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'gamer_profile' user.username  %}">
		<img class="userlogged" width="30" height="30" src="{{user.get_photo.get_profilesmall_url}}" alt="{{user.username}}" />
		&nbsp;
		<b class="caret"></b>
	</a>
	<ul  class="dropdown-menu pull-right">
		<li><a href="{% url 'gamer_profile' user.username  %}"><span class="glyphicon glyphicon-user"></span> {{user.getFullName}}</a></li>
        {% if user.is_staff or user.is_superuser %}<li><a href="/kudeatu"><span class="glyphicon glyphicon-cog"></span> Admin gunea</a></li>{% endif %}
		<li><a href="{% url 'edit_profile' %}"><span class="glyphicon glyphicon-pencil"></span> Profila editatu</a></li>
		<li role="presentation" class="divider"></li>
		<li><a href="{% url 'add_gameplay' %}"><span class="glyphicon glyphicon-share"></span> Gehitu gameplaya</a></li>
		<li><a href="{% url 'add_article' %}"><span class="glyphicon glyphicon-edit"></span> Idatzi artikulua</a></li>
		<li><a href="{% url 'add_game' %}"><span class="glyphicon glyphicon-screenshot"></span> Gehitu jokoa</a></li>
		<li role="presentation" class="divider"></li>
		<li><a href="{% url 'auth_logout' %}?next=/"><span class="glyphicon glyphicon-off"></span> Irten</a></li>
	</ul>
{%else%}
    <a class="login btn btn-primary" href="{% url 'auth_login' %}?next={{request.path}}" title="Sartu">
		Sartu</a>
{%endif%}
