sphinx_rtd_theme == 0.4.2
sphinx == 1.8.1
django-recaptcha == 1.4.0
-e git://github.com/arneb/django-messages#egg=django-messages
-e git://github.com/urtzai/django-mobile.git#egg=django-mobile
django_bootstrap_calendar == 0.1.1
django-podcasting == 1.3.2
django-pagination-bootstrap == 1.2.4
django-datetime-widget == 0.9.3
django-star-ratings == 0.7.0
django-forum-app == 0.10
django-mptt == 0.9.1
facebookpagewriter == 0.8
Django == 1.11.15
mysqlclient == 1.3.13
pillow == 5.3.0
django-sortedm2m == 1.5.0
django-extensions == 2.1.3
django-bootstrap-form == 3.4
xmltodict == 0.11.0
django-model-utils == 3.1.2
django-photologue == 3.8.1
django-tinymce == 2.7.0
django-tagging == 0.4.6
facebook-sdk == 3.0.0
python-twitter == 3.4.2
django-registration-redux == 2.4
django-emoticons == 1.2
django-contrib-comments == 1.9.0
pyTelegramBotAPI == 3.6.6
tweepy == 3.6.0
django-crispy-forms == 1.7.2
django-guardian == 1.4.9
djangorestframework == 3.8.2
django-rest-auth == 0.9.3
django-cors-headers == 2.4.0
django-appconf == 1.0.2
django-autoslug == 1.9.3
django-filter == 2.0.0
gunicorn == 19.9.0
raven == 6.9.0
