{% load pagination_tags %}
<div>
  <h2>Azken berriak</h2>
  {% autopaginate berriak 3 %}
  {% for berri in berriak %}
  <div class="row bloglist">
    <div class="col-sm-4">
      <a href="{% url 'berria' berri.slug %}"><img src="{{berri.argazkia.get_videoprofile_url}}" alt="" /></a>
    </div>
    <div class="col-sm-8">
      <h3 style="margin-top: 0"><a href="{% url 'berria' berri.slug %}">{{berri.izenburua}}</a></h3>
      <p><span class="glyphicon glyphicon-time"></span> {{berri.pub_date|date:"Y/m/d H:i"}} {% for gai in berri.gaia.all %}<span class="label label-success tags">{{gai.izena}}</span>{% endfor %}</p>
      <p>{{berri.get_desk_txikia|safe}}</p>
    </div>
  </div>
  <hr/>
  {% endfor %}
  {% paginate %}
</div>
