{% load comments %}

{% get_comment_count for item as comment_count %}
{%if comment_count > 0%}<h2 id="iruzkinak">Iruzkinak ({%if comment_count == 1%}Iruzkin {{ comment_count }}{%else%}{{ comment_count }} iruzkin{%endif%})</h2>{%endif%}
{% get_comment_list for item as comment_list%}
{% for comment in comment_list %}
    <div class="iruzkinaBox">
        <div class="iruzkinaHeader">
    	      <div class="inline"><img src="{{STATIC_URL}}/irudiak/comment_profil.png" width="30"/></div>
    	      <div class="signature">
    	          <strong><a href="{{request.get_full_path}}#c{{comment.id}}">{{comment.name}}</a></strong><br/>
    	          <span>{{comment.submit_date|date:"Y/m/d H:i"}}</span>
    	      </div> 
	     <div style="clear: both"></div>
	</div>
        <div class="iruzkina">{{comment.comment}}</div>
    </div>
	{% endfor %}
	<h2 id="erantzun">Erantzun</h2>
    {% get_comment_form for item as form %}
    <form action="{% comment_form_target %}" method="post">
    	<fieldset>
    	{% csrf_token %}
    	{{ form.non_field_errors }}
    	<table summary="" >
			<tr>
				<td>
					<label for="id_name">Izena:</label>
				</td>
				<td>
					{{ form.name }}
        			{{ form.name.errors }}
				</td>		
			</tr>
			<tr>
				<td>
					<label for="id_email">E-Posta:</label>
				</td>
				<td>
					{{ form.email.errors }}
        			{{ form.email }}
				</td>		
			</tr>
			<tr>
				<td>
					<label for="id_url">Web Orria:</label>
				</td>
				<td>
					{{ form.url }}
        			{{ form.url.errors }}
				</td>		
			</tr>
        	<tr>
				<td>
					<label></label>
				</td>
				<td>
        			{{ form.comment }}
        			{{ form.comment.errors }}
        			{% if honeypot %}<div><input style="display:none;" type="text" name="id_honeypot" value="{{ honeypot }}" /></div>{% endif %}
        			{{ form.content_type }}
        			{{ form.object_pk }}
        			{{ form.timestamp }}
        			{{ form.security_hash }}
				</td>		
			</tr>
			<tr>
				<td>
					<input type="hidden" name="next" value="{{request.get_full_path}}" />
				</td>
				<td>
					<input class="button white" type="submit" name="submit" value="Bidali">
				</td>		
			</tr>
        </table>
    	</fieldset>
    </form>
