{% extends "base.html" %}
{% load pagination_tags include comments %}

{% block title %}Aurkezpenak - {% endblock %}

{% block content%}

<div class="col-lg-12">
    <h1 class="page-header">
        Aurkezpenak
        <small>
        
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="list">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Izenburua</th>
                            <th>Abstract</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td><a href="{% url 'aurkezpena' item.slug %}">{{item.izena}}</a></td>
                            <td>{{item.abstract}}</td>
                            <td>{{item.pub_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}
