{% extends "base.html" %}

{% block title %}Terminologia - {% endblock %}

{% block content%}

<div class="col-sm-12">
    <h1 class="page-header">
        Terminologia
        <small>

        </small>
    </h1>
    <p>Jolasten gabiltzan einean askotan zalantzak sortzen zaizkigu hitz batzuek euskaraz nola esan beharko genituzkeen. Bada, txoko honetan, gure taldean eztabaidatu ondoren adostutako terminoak bilduko ditugu. Izan gaitezen aitzindariak eta sor dezagun euskal jokalarientzako erreferentziazko hiztegi bat!</p>
</div>

<div class="col-sm-12">
    <form class="pull-right" method="get" action="{% url 'search_term' %}">
        <input id="search_term" value="" name="term" placeholder="Bilatu terminoa"/>
        <input type="submit" value="Bilatu" class="btn btn-default"/>
    </form>
</div>

<div class="col-sm-12">
    <div id="content">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Terminoa</th>
                            <th>Gazteleraz</th>
                            <th>Ingelesez</th>
                            <th>Jokoa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td><strong>{{item.term_eu}}</strong></td>
                            <td>{{item.term_es}}</td>
                            <td>{{item.term_en}}</td>
                            <td>{% for jokoa in item.jokoak.all %}<a href="{% url 'game' jokoa.slug %}">{{jokoa.izena}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}
