
{% extends "profile/base.html" %}

{% load i18n include %}
{% load humanize %}
{% load emoticons_tags include comments bootstrap_calendar %}

{% block morejs %}
 <!-- Denboralerroa -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link href="{{STATIC_URL}}css/denboralerroa/reset.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/denboralerroa/style.css" rel="stylesheet">
    
    <script src="{{STATIC_URL}}js/denboralerroa/modernizr.js" type="text/javascript"></script>

{% endblock %}
    
{% block title %}Denbora lerroa - {% endblock %}

{% block content%}
    <section id="cd-timeline" class="cd-container">
        {% for event in events %}
            {% if event.mota = 'GP' %}
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="{{STATIC_URL}}img/denboralerroa/cd-icon-movie.svg" alt="Picture">
                    </div> <!-- cd-timeline-img -->    
                    <div class="cd-timeline-content">
                        <h2>GamePlay berria</h2>
                        <p>{{event.gameplaya}}</p>
                        <p>{{event.gameplaya.desk|safe|emoticons}}</p>
                        <img src="{{event.gameplaya.argazkia.get_blog_url}}" class="img-responsive"/>
                        <p>
                            <a href="{{event.gameplaya.get_absolute_url}}" class="cd-read-more">Ikusi</a>    
                        </p>
                        
                        
                        <span class="cd-date">{{ event.fetxa |timesince}}</span>

                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
            {% elif event.mota = 'Albistea' %}
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <img src="{{STATIC_URL}}img/denboralerroa/cd-icon-picture.svg" alt="Picture">
                    </div> <!-- cd-timeline-img -->    
                    <div class="cd-timeline-content">
                        <h2>Albiste berria1</h2>
                        <p>{{event.berria}}</p>
                        <p>{{event.berria.desk|safe|emoticons|slice:"0:100"}}...</p>
                        <img src="{{event.berria.argazkia.get_blog_url}}" class="img-responsive"/>
                        <p>
                        
                            <a href="{{event.berria.get_absolute_url}}" class="cd-read-more">Ikusi</a>    
                        </p>
                        <span class="cd-date">{{ event.fetxa |timesince}}</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
            {% elif event.mota = 'Iruzkin' %}
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-location">
                        <img src="{{STATIC_URL}}img/denboralerroa/cd-icon-location.svg" alt="Picture">
                    </div> <!-- cd-timeline-img -->    
                    <div class="cd-timeline-content">
                        <p>{{event.tituloa}}</p>
                        <p>{{event.deskripzioa}}</p>
                        
                        <span class="cd-date">{{ event.fetxa |timesince}}</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
            {% elif event.mota = 'Foroa' %}
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-location">
                        <img src="{{STATIC_URL}}img/denboralerroa/cd-icon-location.svg" alt="Picture">
                    </div> <!-- cd-timeline-img -->    
                    <div class="cd-timeline-content">
                        <h2>Foroan: {{event.tituloa}}</h2>
                        <p>{{event.deskripzioa}}</p>
                        <p>
                            <a href="/foroa/{{event.forum.slug}}{{event.post.get_absolute_url}}" class="cd-read-more">Ikusi</a>    
                        </p>
                        <span class="cd-date">{{ event.fetxa |timesince}}</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
            {% endif %}                       
        
        {% endfor %}

    {% block footerjs %}
        <script src="{{STATIC_URL}}js/denboralerroa/denboralerroa.js" type="text/javascript"></script>
    {% endblock %}
{% endblock %}
