{% extends "base.html" %}
{% load pagination_tags emoticons_tags include %}
{% block title %}Erantzuna - {% endblock %}

{% block morejs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
                <h1>Erantzun berri bat bidali</h1>
                {{quote|safe}}
                <form action="{% url 'reply' forum.slug topic.id %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="quote" value="{{quote}}"/>
                    <input class="btn btn-primary" type="submit" value="Bidali" />
                    <a class="btn btn-default" href="{% url 'topic-detail' forum.slug topic.id %}">Ezeztatu</a>
                </form>

                <hr>
                <h3>Azken mezuak:</h3>
                {% for post in posts %}
      <div class="row">
        <div class="col-xs-12 col-sm-2 text-center">
          <a href="{% url 'gamer_profile' post.creator.username %}"><img src="{{post.creator.get_photo.get_forum_profile_url}}" alt="" class="center-block img-circle img-responsive"/></a>
                <p><strong><a href="{% url 'gamer_profile' post.creator.username %}">{{post.creator.getFullName}}</a></strong><br/>{% if post.creator.is_staff %}<img src="{{STATIC_URL}}img/kidea.png" alt="Game Erauntsiako Kidea" class="center-block img-responsive"/>{% endif %}<span class="date">{{post.created|date:"Y/m/d H:i"}}</span>{% if user.is_authenticated %}<br/><a href="{% url 'messages_compose_to' post.creator.username  %}"><span class="glyphicon glyphicon-envelope"></span></a>{% endif %}</p>
        </div>
        <div class="col-xs-12 col-sm-10">
          <a id="{{post.id}}"></a>
          <h4><a href="/foroa/{{forum.slug}}{{post.get_absolute_url}}">#</a> {{post.title}}</h4>
          <p>{{post.body|safe|emoticons}}</p>
          {% if post.creator.signature %}
                <hr class="dotted" />
                <p>{{post.creator.signature|safe|emoticons}}</p>
          {% endif %}
        </div>
      </div>
      <hr/>
      {% empty %}
    {% endfor %}


        </div>
</div>
{% endblock %}