{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Mezu berria"%}</h1>
{{ block.super }}
<div class="row">&nbsp;</div>
<div class="col-sm-12">
  <form class="form-horizontal" role="form" method="post">

      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.recipient.errors }}
        <label for="id_recipient">Hartzailea:</label>
        {{ form.recipient }}
      </div>

      <div class="form-group">
        {{ form.subject.errors }}
        <label for="id_subject">Gaia:</label>
        {{ form.subject }}
      </div>

      <div class="form-group">
        {{ form.body.errors }}
        <label for="body">Textua:</label>
      </div>

      <div class="form-group">
        {{ form.body }}
      </div>

      <div class="form-group">
          <input class="btn btn-primary" type="submit" value="{% trans "Bidali" %}"/>
      </div>
  </form>
</div>

<script type="text/javascript">
$(function() {
    $("#id_recipient").autocomplete({
        source: "{% url 'messages_ajaxuser' %}",
        minLength: 2,
        select: function(event, ui) {
            $('#id_recipient').val(ui.item.value);
        }
    });
});
</script>

{% endblock %}
