{% extends "base/index.html" %}
{%load breadcrumbs include%}

{% if gaia%}
{%block subheader%}
<div id="breadcrumb">{{ request.get_full_path|breadcrumbs }}</div>
<h1>{{gaia.izena}} Tutorialak</h1>
{%endblock%}

{% block content %}
<div id="tutoIndexBox" class="inline">
{%if tutorialak%}
	{%for tutoriala in tutorialak%}
  	<div id="box_1" >
    	<a href="/tutorialak/{{tutoriala.slug}}/" ><div class="smallImage" style="background:url({{tutoriala.argazkia.get_small_url}}) no-repeat;"></div></a>
		<div>
			<table>
				<tr>
					<td>
					<h2><a href="/tutorialak/{{tutoriala.slug}}/">{{tutoriala.izenburua}}</a></h2>
    				<p>
    					{%for 1 in 10|get_range%}
    					<input name="star-{{tutoriala.slug}}" type="radio" class="star {split:2}" disabled="disabled" {%if forloop.counter == tutoriala.get_rating%}checked="checked" {%endif%}/>
            			{%endfor%}   		
    				</p>
					</td>	
					<td>
					 <img class="indexIcon" src="{{tutoriala.aplikazioa.logoa.get_icon_url}}" alt="{{tutoriala.aplikazioa.logoa.title}}" />
					</td>			
				</tr>			
			</table>
		</div>    	
  	</div>
  	{%endfor%}
  	<div style="clear: both"></div>
       <div id="pagContainer">
        <ul id="pagination">
          {% if tutorialak.has_previous %}
              <li class="previous"><a href="?orria={{ tutorialak.previous_page_number }}"><< Aurrekoa</a><li>
         {%else%}
               <li class="previous-off"><< Aurrekoa</li>
          {% endif %}
               <li class="active">{{ tutorialak.number }}</li>
          {%if tutorialak.has_next%}
                <span>...</span>
               <li><a href="?orria={{ tutorialak.paginator.num_pages }}">{{ tutorialak.paginator.num_pages }}</a></li>
         {%endif%}
          {% if tutorialak.has_next %}
              <li class="next"><a href="?orria={{ tutorialak.next_page_number }}">Hurrengoa >></a></li>
         {%else%}
               <li class="next-off">Hurrengoa >></li>
          {% endif %}
        </ul>
    </div>
{%else%}
   <p>Ez da tutorialik aurkitu!</p>
{%endif%}
</div>
{% endblock %}
{%block submenu%}
    {% top_tutorialak %}
{%endblock%}
{%else%}
    <p>Aplikaziorik ez da aurkitu.</p>
{%endif%}
