{% extends "base/index.html" %}
{%load breadcrumbs%}
{% load comments %}

{%if aplikazioa%}
{% block subheader%}
	<div id="breadcrumb">{{ request.get_full_path|breadcrumbs }}</div>
    <h1>{{gaia.izena}}</h1>
{%endblock%}
{% block content%}
    	<div id="tutoIndexBox" class="inline">{{gaia.desk}}</div>
{%endblock%}
{%block submenu%}
<div id="sidebar" class="inline">
<h2>{{gaia.izena}} Tutorialak</h2>
{% if zerr_tutoriala %}
    <ul class="sinple">
    {% for tutoriala in zerr_tutoriala %}
        <li>
            <a href="/tutorialak/{{ tutoriala.slug }}/">
                <img class="setMiddle" src="{{tutoriala.argazkia.get_thumbnail_url}}" />
                <span>{{ tutoriala.izenburua }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Tutorialik ez da aurkitu.</p>
{% endif %}
</div>
{%endblock%}
{% else %}
    <p>Ezin izan da aplikazioa kargatu.</p>
{% endif %}
