{% if is_paginated %}
{% load i18n %}
<div class="row text-center">

    <div class="col-lg-12">
        <ul class="pagination">

        {% if page_obj.has_previous %}
            <li><a href="?page=1{{ getvars }}"><i class="glyphicon glyphicon-step-backward"></i></a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}"><i class="glyphicon glyphicon-chevron-left"></i> Aurrekoa</a></li>
        {% else %}
        <li class="disabled"><a href="#"><i class="glyphicon glyphicon-step-backward"></i></a></li>
            <li class="disabled"><a href="#"><i class="glyphicon glyphicon-chevron-left"></i> Aurrekoa</a></li>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}{{ getvars }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="disabled"><a href="#">...</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}">Hurrengoa <i class="glyphicon glyphicon-chevron-right"></i></a></li>
            <li><a href="?page={{ pages.count }}{{ getvars }}"><i class="glyphicon glyphicon-step-forward"></i></a></li>
        {% else %}
            <li class="disabled" ><a href="#">Hurrengoa <i class="glyphicon glyphicon-chevron-right"></i></a></li>
            <li class="disabled" ><a href="#"><i class="glyphicon glyphicon-step-forward"></i></a></li>
        {% endif %}
        </ul>
    </div>
</div>
{% endif %}

