<form method="post" action="{% url 'auth_login' %}">
{% if not request.POST.email %}{% if form.errors %}
<ul class="errorlist"><li>Zure erabiltzaile izena eta pasahitza ez daude ondo. Saiatu berriro!</li></ul>
{%endif%}{%endif%}

{% csrf_token %}
<p><label for="username">Erabiltzailea:</label>
<input id="id_username" type="text" name="username" maxlength="30" value=""></p>
<p><label for="password">Pasahitza:</label>
<input type="password" name="password" id="id_password" value=""></p>
<p>
<input class="btn btn-primary" type="submit" value="Sartu" class="submit" />
<input type="hidden" name="next" value="/" />
</p>
</form>