{% extends "base.html" %}
{% load i18n %}
	
{% block content %}
	<h1>Aktibatu zure kontua!</h1>
	<div class="text-left">
		<div class="alert alert-warning">
		    Zure eposta baliozkoa den baieztatu nahi dugu, beraz, helbide horretara kontua aktibatzeko eman beharreko pausoak bidali dizkizugu. Mesedez, aktibatu zure kontua.
		</div>
		<p><i class="glyphicon glyphicon-ok"></i> Begiratu zure eposta</p>
		<p><i class="glyphicon glyphicon-ok"></i> Gogoratu:</p>
			<ul>
				<li>Begiratu zure spam (zabor) karpeta</li>
				<li>Ez baduzu epostarik jaso, mesedez, <a href="{% url 'kontaktua' %}">jarri harremanetan</a> gure administratzaileekin...</li>
			</ul>
	</div>
{% endblock %}