{% load gamerauntsia %}
<script type="text/javascript" src="{{STATIC_URL}}/js/ajax_login.js"></script>

<h2>Sortu kontu berria</h2>
<form action="/erabiltzaileak/accounts/register/" id="register_form" method="POST">
{% csrf_token %}

<div id="valid">{% if request.POST.email %}{% if form.errors %}
<ul class="errorlist"><li>Sartutako datuak ez dira zuzenak. Saiatu berriro!</li></ul>
{%endif%}{%else%}{%endif%}</div>

{% regform request %}

<p>
<input type="submit" value="Sortu" id="submita" class="submit" />
</p>
</form>

