{% extends "zerbitzariak/minecraft.html" %}
{% load i18n emoticons_tags include %}

{% block minecraft_title %}Minecraft mapa{% endblock %}

{% block minecraft_content %}
<div class="row">
	<div class="col-sm-12">
        <iframe src="http://194.30.100.158:8123/?worldname=Gamer_Erauntsia&mapname=surface&zoom=2&x=-400&y=65&z=-420" width="100%" height="600"></iframe>
    </div>
</div>
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>Minecraft zerbitzaria guztiontzat eskuragarri dagoen dohako zerbitzu bat da. <a href="https://www.izarkom.eus/">Izarkom-ekin</a> elkarlanean egindako proiektua.</p>
        </div>      
        <div class="col-md-4">
            <a href="{% url 'minecraft_index' %}" class="btn btn-lg btn-default btn-block">Informazio gehiago...</a>
        </div>
    </div>
</div>
{% endblock %}
