{% extends "base.html" %}
{% load i18n emoticons_tags include %}

{% block content %}
<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Minecraft zerbitzaria</h1>
        </div>

        <div class="col-lg-8">

            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-minecraft-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-minecraft-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-minecraft-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-minecraft-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-minecraft-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-minecraft-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-minecraft-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-minecraft-generic" data-slide-to="6"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{STATIC_URL}}img/minecraft_banner.jpg" />
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{STATIC_URL}}img/minecraft_banner2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{STATIC_URL}}img/minecraft_banner3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{STATIC_URL}}img/minecraft_banner4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{STATIC_URL}}img/minecraft_banner5.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{STATIC_URL}}img/minecraft_banner6.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-minecraft-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-minecraft-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <br/>

            <p>Game Erauntsiaren eskutik lehen euskarazko Minecraft zerbitzaria daukazue eskuragai. Zerbitzarira sartzeko <strong>1.8 bertsioa</strong> izan behar duzu jolasean. Hona hemen zerbitzarian parte hartzeko jarraitu beharreko pausoak:</p>
            <ul>
                <li>Jarraian ageri diren arauak irakurri behar dituzu! Arau hauek onartzea oso garrantzitsua da!</li>
                <li>Sisteman erabiltzaile bat sortu behar duzu lehendik ez baduzu</li>
                <li>Jokoan izen emateko botoia sakatu behar duzu orrialde honetan. <strong>Gogoratu hau egitean berauek onartzen dituzula esan nahi duela! Izan ARDURATSUA!</strong></li>
            <ul>
            <p>Argibide gehiagorako ikusi bideoa:</p>
            <div class="flex-video widescreen"><iframe width="560" height="315" src="//www.youtube.com/embed/9XVBffZUPU0" frameborder="0" allowfullscreen></iframe></div>
        	<h2>Araudi eta baldintzak</h2>
        	<ul>
        		<li>Zerbitzarira sartzeko ezinbestekoa da Gamerauntsia.eus orrialdean erregistratzea eta perfilean zure minecraft-eko erabiltzaile izena jartzea. Azken honetarako jarraitu pausu hauek:
					<ul>
						<li>Klikatu zure perfileko kudeatzeko botoia, ostean “Profila editatu” aukeran sakatu.</li>
					    <li>Ireki berri den orrialdean “Plataformak” atalean, “Plataforma” ipintzen duen tokian Minecraft aukeratu eta “Nick” ipintzen duen tokian idatzi zure erabiltzaile izena.</li>
					    <li>Sakatu “Gorde” botoia eta prest.</li>
					</ul>
				</li>
				<li>Zerbitzarira sartzeko baimena GE webgunean eskatu beharko da. Behin eskaera eginda administratzaile batek errebisatu eta sartzeko baimena emango dizu. Eskaerak egunero eguneratuko ditugu. Momentuan ezin bazara sartu zerbitzarira, lasai egon, gehienez egun bat tardatuko baitugu.</li>
				<li>Gogoratu Minecraft-eko lehen zerbitzari euskalduna dela, beraz txat-etik derrigorrezkoa da euskaraz hitz egitea.</li>
				<li>Logikoa den bezala, txatetik ez dira onartuko beste jokalarienganako irainik, ezta hitz/esaldi arrazista, homofobo, sexistarik.</li>
				<li>Txatetik spam-a, mezu berdina hainbatetan errepikatzea edo txat-aren erabilpen normala alteratzea debekatua dago. Web orri baterako esteka bat jarri nahi izanez gero, administratzaile bati eskatu beharko zaio baimena.</li>
				<li>Mundu printzipalean (Ez dena jolasena, ez errekurtsoena) debekatuta dago eraikin publikoak modifikatu/suntsitzea, ez baduzu jaso administratzaile baten baimena hori egiteko noski.</li>
				<li>Guztiz debekatua dago beste erabiltzaileak erasotzea. Arau hau ez da aplikatzen borroka egitea beharrezkoa den mini-jokoetan eta guneetan.</li>
				<li>Mundu printzipalean soilik zuri esleituko zaizun partzelan eraiki dezakezu libreki. Partzela hau administratzaile bati eskatu ostean esleituko zaizu. Zure eraikinak ezingo du zabaleraz harrizko erdiblokeek mugatzen duten area (10x10) baino gehiago izan eta altueraz 15 bloke goruntz eta 5 bloke beheruntz baino gehiago izan.</li>
				<li>Behin partzela esleitu eta eraikinetik minimo bat egin ostean, area limitatzen duten erdiblokeak kendu ahal izango dira nahi izanez gero.</li>
                <li>Eraikin publikoen eraikuntzak edo herrian zehar egin behar diren beste hainbat obrei buruz gamerauntsia.eus-eko foroko zerbitzariari dagokion atalean emango da berri. Bertan eman izena parte hartzea nahi izanez gero eta administratzaileak taldean onartu zaituelaren zain egon ezer egiten hasi aurretik.</li>
                <li>Erabiltzaile arruntek ezingo dute eraikin publikoak egiteko aukerak eman beste erabiltzaileei. Foroan proposamenen atal bat egongo da. Han proposatu eta ideia erakargarria izanez gero, administratzaile batek jarriko du eraikuntza honetan parte hartzeko aukera.</li>
                <li>Eraikuntza publiko hauetara apuntatzen bazara, konpromezu minimo batekin izan dadila. Mesedez ez utzi laguntzeari obra erdian.</li>
                <li>Errekurtsoen munduan ez eraiki, astero mundu hau berriro sortuko baita. Horrez gain ez sortu suterik eta botatako zuhaitz bakoitzeko beste bat landatu.</li>
                <li>Jokoen munduan errespetatu joko batera sartzeko egon daitezkeen ilarak.</li>
                <li>Aurreko arauetatik at dagoen zerbait gertatu ezkero, ekintza horrengan azken erabakia administratzaileek izango dute.</li>
                <li>Aurreko arauetako bat hausteak zigorra jasotzea ekarri dezake. Zigor hau administratzaile baten edo guztien artean erabakiko da, larritasunaren arabera. Hitzez atentzioa ematetik hasi eta kasurik okerrenean zerbitzaritik betirako kanporatzea izan daitezke aplikatu daitekeen zigorra.</li>
                <li>Arau hauste bat ikusi edo jasan ezkero, <a href="{% url 'kontaktua' %}">idatzi kontaktura</a> noiz/non/nork/zer gertatu den adieraziz eta guk kontsolatik ikertu ostean, erabaki bat hartuko dugu.</li>
			</ul>

            <a id="VIP"></a>
            <h2>Izan zaitez VIP!</h2>
            <p>Euskal Minecraft zebitzariak hainbat gastu ditu mantenuan bakarrik. Horiek tapatzeko erabiltzaileen VIP sistema bat erabiltzen dugu. Oso erraza eta merkea da eta abantaila ugari lor ditzakezue:</p>
            <ul>
                <li>Zerbitzariak <strong>30 erabiltzaileko muga</strong> dauka oraingoz. Horrek esan nahi du, zerbitzarira konektatzen 32. erabiltzailea bazara eta ez baduzu VIP pasea, kanpoan geratuko zarela.</li>
                <li>Jokua jendez gainezka baldin badago eta VIP erabiltzaileren bat konektatzen bada, erabiltzaile arrunt bat <strong>automatikoki kanporatua</strong> izango da.</li>
                <li>VIP erabiltzaileak normalak baino <strong>maskota eta elementu gehiago ditu</strong> eskura jokoan.</li>
                <li>Pribilegiodun erabiltzailea izan zaitezke <strong>soilik urteko 10€ ordainduz</strong>!</li>
                <li>Egin ekarpena PayPal bidez eta <a href="{% url 'kontaktua' %}">jakinarazi guri</a></li>
            </ul>

            <h2>Zerbitzarira konektatzeko pausoak</h2>
            <p>Zerbitzarira sartzeko pausoak honakoak dira:</p>
            <ul>
                <li>Multijokalaria atalera sartu eta han "Gehitu zerbitzaria" botoiari sakatu.</li>
                <li>"Zerbitzariaren izena" atalean "Game Erauntsia" idatzi eta "Zerbitzariaren helbidea" atalean "gamerauntsia.beastmc.com".</li>
                <li>Jarraian dagoen irudian ikusi ahal duzue hobeto:<br/><br/><img class="img-responsive" src="http://s22.postimg.org/z5xiub6td/unnamed.jpg" /><br/><br/></li>
                <li>Ados sakatu eta listo, gure zerbitzaria gozatzen hasi zaitezkete.</li>
            </ul>
            <p>Animatu, zuen zain gaude eta!</p>

        </div>

        <div class="col-lg-4">
            <div class="well">
                <h2>Izen ematea</h2>
                {% if user.is_authenticated %}
                    {% if user.is_mc_gamer %}
                        <p class="text-success">Mila esker <strong>{{user.fullname}}!</strong> Zerbitzarian parte hartzeko zerrendan sartu zara. Ordu batzuren buruan jolasteko moduan izango zara! Beharrezko baimenak emateko lanean gabiltza. Eskerrik asko eta izan pazientzia pixkat!</p>
                    {% else %}
                        {% if user.has_mc_platform %}
                        <form action="{% url 'minecraft_add' %}" method="POST">
                            {% csrf_token %}
                            <p><label><input type="checkbox" name="accept"> Onartzen ditut Minecraft zerbitzariko araudi eta baldintzak.</label></p>
                            <input type="submit" class="btn btn-primary" value="Bidali" />
                        </form>
                        {% else %}
                            <p class="text-warning"><strong>Sentitzen dugu!</strong> Ez dugu Minecraft erabiltzailerik konfiguratuta aurkitu... Sartu <a href="{% url 'edit_profile_plat' %}">zure profilera</a> eta plataformak atalean gehitu zeurea!</p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <p>Zerbitzarian parte hartu ahal izateko lehendabizi Game Erauntsian izena eman behar duzu.</p>
                    <a class="btn btn-primary" href="{% url 'auth_login' %}?next={{request.path}}" title="Log in">{% trans 'Log in' %}</a>
                {% endif %}
            </div>
            <div class="well">
                <h2>Izan zaitez VIP</h2>
                <p>Euskal Minecraft zerbitzaria martxan egon dadin esfortzu handia egiten dugu. <a href="#VIP">Izan zaitez VIP erabiltzaile</a> eta lagundu mantenu gastuak tapatzen!</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="BCPEUA4ZER92J">
                    <input type="image" src="http://gamerauntsia.com/media/photologue/photos/paypal_1.jpg" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        	<div class="well">
        		<h2>Azken 10 erabiltzaileak</h2>
        		<div class="row">
                    <div class="col-lg-12">
                        {% for mc in mc_list %}
                        <p><a href="{% url 'gamer_profile' mc.user.username %}"><img src="{{mc.user.get_photo.get_profilesmall_url}}" class="img-circle"/> {{mc.user.getFullName}}</a></p>
                        {% endfor %}
                    </div>
                </div>
        	</div>
        	<div class="well">
        		<h2>VIP erabiltzaileak</h2>
        		<div class="row">
                    <div class="col-lg-12">
                        {% for mc in mc_vip_list %}
                        <p><a href="{% url 'gamer_profile' mc.user.username %}"><img src="{{mc.user.get_photo.get_profilesmall_url}}" class="img-circle"/> {{mc.user.getFullName}}</a></p>
                        {% endfor %}
                    </div>
                </div>
        	</div>
        	<div class="well">
        		<h2>Administratzaileak</h2>
        		<div class="row">
                    <div class="col-lg-12">
                        {% for mc in mc_admin_list %}
                        <p><a href="{% url 'gamer_profile' mc.user.username %}"><img src="{{mc.user.get_photo.get_profilesmall_url}}" class="img-circle"/> {{mc.user.getFullName}}</a></p>
                        {% endfor %}
                    </div>
                </div>
        	</div>
        </div>
</div>
{% endblock %}