{% extends "base.html" %}
{% load comments pagination_tags %}

{%block title%}Komunitatea - {%endblock%}

{% block content %}
    {% for user_prof in users %}
    <div class="col-md-4">
	    <div class="row">
	        <div class="col-xs-12 col-sm-4 text-center">
				<img src="{{user_prof.get_photo.get_profile_url}}" alt="" class="center-block img-circle img-responsive">
			</div><!--/col--> 
			<div class="col-xs-12 col-sm-8">
				<h2>{{user_prof.getFullName}}
				{% if user_prof.twitter_id or user_prof.nickname %}
				<small>{% if user_prof.twitter_id %}@{{user_prof.twitter_id}}{% else %}{{user_prof.nickname}}{% endif %}</small>
				{% endif %}
				</h2>
				<p>{{user_prof.bio}}</p>
				<p>{{user_prof.date_joined|date:"Y/m/d H:i"}}</p>
			</div>          
			<div class="clearfix"></div>
	  	</div>
    </div>
    {% endfor %}
{% endblock %}
