{% extends "base.html" %}
{% load comments pagination_tags %}

{%block title%}Komunitatea - {%endblock%}

{% block content %}
<div class="col-lg-12">
    <h1 class="page-header">Komunitatea
        <small>Hau da jende pila!</small>
    </h1>
    <p>Zaletasun berdin batek bildu gaituen komunitate bat gara. Bideo jokoak ditugu gustuko eta horien inguruan sortzen diren albiste eta berrikuntzak ditugu gustuko. Euskal gamer taldea gara gu, <span class="text-success">Game Erauntsia</span>.</p>
    <p>Bideo jokoak gustuko dituzula? Zeren zain zaude! Hemen denetarik aurkituko duzu eta gainera euskaraz! Gozatu gure komunitatean parte hartuz eta animatzen bazara zuk ere zure txoko propioa izan dezakezu gure taldean! Zer animatzen?</p>
</div><br/>
<div class="col-lg-12">
    {% for user_prof in users %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-4 portfolio-item">
	    <div class="row">
	        <div class="col-xs-12 col-sm-4 text-center">
				<a href="{% 'gamer_guestprofile' user_prof.username %}"><img src="{{user_prof.get_photo.get_profile_url}}" alt="" class="center-block img-circle img-responsive"></a>
			</div><!--/col--> 
			<div class="col-xs-12 col-sm-8">
				<a href="{% 'gamer_guestprofile' user_prof.username %}"><h2>{{user_prof.getFullName}}
				{% if user_prof.twitter_id or user_prof.nickname %}
				<small>{% if user_prof.twitter_id %}@{{user_prof.twitter_id}}{% else %}{{user_prof.nickname}}{% endif %}</small>
				{% endif %}
				</h2></a>
			</div>          
	  	</div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><hr/><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock %}
