{% extends "base.html" %}
{% load pagination_tags %}

{%block title%}Komunitatea - {%endblock%}

{% block content %}
<div class="col-lg-12">
    <h1 class="page-header">Komunitatea
        <small>Hau da jende pila!</small>
    </h1>
</div>
<div class="col-lg-12">
    {% for user_prof in users %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-4 portfolio-item">
	    <div class="row">
	        <div class="col-xs-12 col-sm-4 text-center">
				<a href="{% url 'gamer_guestprofile' user_prof.username %}"><img src="{{user_prof.get_photo.get_profile_url}}" alt="" class="center-block img-circle img-responsive"></a>
			</div>
			<div class="col-xs-12 col-sm-8">
				<h2>
					<a href="{% url 'gamer_guestprofile' user_prof.username %}">{{user_prof.getFullName}}
				{% if user_prof.twitter_id or user_prof.nickname %}
						<small>{% if user_prof.twitter_id %}@{{user_prof.twitter_id}}{% else %}{{user_prof.nickname}}{% endif %}</small>
					</a>
					{% if user.is_authenticated %}<small><a href="{% url 'messages_compose_to' user_prof.username  %}"><span class="glyphicon glyphicon-envelope"></span></a></small>{% endif %}
				</h2>
				{% else %}
				</h2>
                <p>
                	{% if user.is_authenticated %}<small><a href="{% url 'messages_compose_to' user_prof.username  %}"><span class="glyphicon glyphicon-envelope"></span></a></small>{% endif %}
				{% endif %}
			    </p>
			</div>
	  	</div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><hr/><div class="row">{% endif %}
    {% if forloop.last %}</div><hr/>{% endif %}
    {% endfor %}
</div>
{% endblock %}
