{% extends "base.html" %}

{%block title%}Nor gara - {%endblock%}

{% block content %}
<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">Nor gara
            <small>Pozten gara zu ezagutzeaz!</small>
        </h1>
        <p>This is a great place to start off with a short and sweet description of your company, organization, or whatever purpose your website is serving. Keep it friendly, engaging, but short enough to where you won't lose your reader!</p>
        <p>If you need a bit more space to describe what is going on, we recommend putting a picture in this section. Use the
            <code>pull-right</code>class on the image to make it look good!</p>
    </div>

    <div class="col-lg-12">
        <h2 class="page-header">Gure taldea</h2>
    </div>

</div>

<div class="row">
    {% for user in users %}
    <div class="col-lg-4 col-sm-6">
        <a href="{% url 'gamer_profile' user.username %}"><img src="{{user.get_photo.get_profile_url}}" class="img-circle img-responsive"></a>
        <h3><a href="{% url 'gamer_profile' user.username %}">{{user.fullname}}</a>
            <small>{% if user.twitter_id %}@{{user.twitter_id}}{% else %}{{user.nickname}}{% endif %}</small>
        </h3>
        <p>{{user.bio}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}