{% extends "base.html" %}

{%block title%}Nor gara - {%endblock%}

{% block content %}
<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">Nor gara
            <small>Pozten gara zu ezagutzeaz!</small>
        </h1>
        <p>Zaletasun berdin batek bildu gaituen komunitate bat gara. Bideo jokoak ditugu gustuko eta horien inguruan sortzen diren albiste eta berrikuntzak ditugu gustuko. Euskal gamer taldea gara gu, <span class="text-success">Game Erauntsia</span>.</p>
        <p>Bideo jokoak gustuko dituzula? Zeren zain zaude! Hemen denetarik aurkituko duzu eta gainera euskaraz! Gozatu gure komunitatean parte hartuz eta animatzen bazara zuk ere zure txoko propioa izan dezakezu gure taldean! Zer animatzen?</p>
    </div>

    <div class="col-lg-12">
        <h2 class="page-header">Gure taldea</h2>
    </div>

    {% for user in users %}
    {% if user.is_staff and user.is_active %}
        {% if forloop.counter|divisibleby:4 or forloop.first %}
        <div class="row">
        {% endif %}
            <div class="col-lg-4 col-sm-6">
                <a href="{% url 'gamer_profile' user.username %}"><img src="{{user.get_photo.get_profile_url}}" class="img-circle img-responsive"></a>
                <h3><a href="{% url 'gamer_profile' user.username %}">{{user.fullname}}</a>
                    <small>{% if user.twitter_id %}@{{user.twitter_id}}{% else %}{{user.nickname}}{% endif %}</small>
                </h3>
                <p>{{user.bio}}</p>
            </div>

        {% if forloop.counter|divisibleby:3 %}
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}
    
    <div class="col-lg-12">
        <h2 class="page-header">Dohaintza bat egin</h2>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="gamerauntsia@gmail.com">
            <input type="hidden" name="lc" value="ES">
            <input type="hidden" name="item_name" value="Game Erauntsia">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="EUR">
            <input type="hidden" name="bn" value="PP-DonationsBF:paypal.jpg:NonHostedGuest">
            <input type="image" src="http://gamerauntsia.com/media/photologue/photos/paypal_1.jpg" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
            <img alt="" border="0" src="http://gamerauntsia.com/media/photologue/photos/paypal_1.jpg" width="1" height="1">
        </form>

    </div>
</div>
{% endblock %}
