{% extends "base.html" %}

{%block title%}{{user.fullname}} - {%endblock%}

{% block content %}
	<div class="row">
	    <div class="col-md-8 col-xs-10">
		    <div class="row">
		        <div class="col-xs-12 col-sm-4 text-center">
					<img src="{{user.get_photo.get_profile_url}}" alt="" class="center-block img-circle img-responsive">
				</div><!--/col--> 
				<div class="col-xs-12 col-sm-8">
					<h2>{{user.fullname}}</h2>
					{% if user.twitter_id or user.nickname %}
					<p><strong>Ezizena: </strong> {% if user.twitter_id %}@{{user.twitter_id}}{% else %}{{user.nickname}}{% endif %}</p>
					{% endif %}
					<p><strong>Bio: </strong> {{user.bio}}</p>
					<p><strong>Kategoriak: </strong>
						{% for cat in categs %}
						<span class="label label-info tags">{{cat.gaia__izena}}</span> 
						{% endfor %}
					</p>
					<p>
						{% if user.ytube_channel %}
						<a href="{{user.ytube_channel}}"><img src="{{STATIC_URL}}img/youtube.png" /></a>
						{% endif %}
						{% if user.twitter_id %}
						<a href="http://twitter.com/{{user.twitter_id}}"><img src="{{STATIC_URL}}img/twitter.png" /></a>
						{% endif %}
						{% if user.facebook_id %}
						<a href="http://facebook.com/{{user.facebook_id}}"><img src="{{STATIC_URL}}img/facebook.png" /></a>
						{% endif %}
					</p>
				</div>          
				<div class="clearfix"></div>
		  	</div>
	    </div>
	    <div class="col-md-4">
	    	<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Estatistikak</h3>
			  	</div>
			  	<div class="panel-body">
			    	<div class="col-lg-6 text-center">
			    		{% if gp_count == 1 %}                  
						<p><small>Game Play</small></p>
						<h2><strong> {{gp_count}} </strong></h2>  
			    		{% else %}
						<h2><strong> {{gp_count}} </strong></h2>                    
						<p><small>Game Play</small></p>
						{% endif %}
						<a href="{% url 'gameplay_user' user.username %}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-play-circle"></span> Gehiago! </a>
					</div>
					<div class="headerDivider"></div>
					<div class="col-lg-6">
						<h4>Kategoriaka:</h4>
						{% for cat in categs %}
						<p><strong>{{cat.count}}</strong> {{cat.gaia__izena}}</p>
						{% endfor %}                 
					</div>
				</div>
			</div>
	    </div>
	</div>
	<hr/>
	<h2>Azken Game Playak</h2>
	<div class="row">
		<div class="col-md-8 col-xs-10">
		    {% for gp in gameplayak %}
		    <div class="row">
			    <div class="col-lg-6">
			        <a href="{{gp.get_absolute_url}}"><img src="{{gp.argazkia.get_videoprofile_url}}" alt="" /></a>
			    </div>
			    <div class="col-lg-6">
			        <h3><a href="{{gp.get_absolute_url}}">{{gp.izenburua}}</a></h3>
			        <p><span class="glyphicon glyphicon-play"></span> {% if gp.jokoa.url %}<a href="{{gp.jokoa.url}}">{{gp.jokoa}}</a>{% else %}{{gp.jokoa}}{% endif%} | <span class="glyphicon glyphicon-time"></span> {{gp.iraupena_min}}min {{gp.iraupena_seg}}seg</p>
			        <p>{{gp.desk}}</p>
			    </div>
			</div>
			<hr/>
		    {% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<a href="{% url 'gameplay_user' user.username %}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-play-circle"></span> Gehiago ikusi! </a>
		</div>
	</div>
{% endblock %}