{% extends "base.html" %}

{%block title%}{{user.fullname}} - {%endblock%}

{% block content %}
	<div class="row">
	    <div class="col-md-8 col-xs-10">
		    <div class="row">
		        <div class="col-xs-12 col-sm-4 text-center">
					<img src="{{user.get_photo.get_profile_url}}" alt="" class="center-block img-circle img-responsive">
				</div><!--/col--> 
				<div class="col-xs-12 col-sm-8">
					<h2>{{user.fullname}}</h2>
					{% if user.twitter_id or user.nickname %}
					<p><strong>Ezizena: </strong> {% if user.twitter_id %}@{{user.twitter_id}}{% else %}{{user.nickname}}{% endif %}</p>
					{% endif %}
					<p><strong>Bio: </strong> {{user.bio}}</p>
					<p><strong>Kategoriak: </strong>
						{% for cat in categs %}
						<span class="label label-info tags"><a href="{% url 'gameplay_gaia' cat.gaia__izena|slugify %}">{{cat.gaia__izena}}</a></span> 
						{% endfor %}
					</p>
					<p>
						{% if user.ytube_channel %}
						<a href="{{user.ytube_channel}}"><img src="{{STATIC_URL}}img/youtube.png" /></a>
						{% endif %}
						{% if user.twitter_id %}
						<a href="http://twitter.com/{{user.twitter_id}}"><img src="{{STATIC_URL}}img/twitter.png" /></a>
						{% endif %}
						{% if user.facebook_id %}
						<a href="http://facebook.com/{{user.facebook_id}}"><img src="{{STATIC_URL}}img/facebook.png" /></a>
						{% endif %}
					</p>
				</div>          
				<div class="clearfix"></div>
		  	</div>
	    </div>
	    <div class="col-md-4">
	    	<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Estatistikak</h3>
			  	</div>
			  	<div class="panel-body">
			  		<div class="row">
				    	<div class="col-lg-6 text-center">
				    		{% if gp_count == 1 %}                  
							<p><small>Game Play</small></p>
							<h2><strong> {{gp_count}} </strong></h2>  
				    		{% else %}
							<h2><strong> {{gp_count}} </strong></h2>                    
							<p><small>Game Play</small></p>
							{% endif %}
						</div>
						<div class="col-lg-6">
							{% for cat in categs %}
							<p><strong>{{cat.count}}</strong> <span class="label label-info tags"><a href="{% url 'gameplay_gaia' cat.gaia__izena|slugify %}">{{cat.gaia__izena}}</a></span></p>
							{% endfor %}                 
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-lg-6 text-center">
				    		{% if berri_count == 1 %}                  
							<p><small>Artikulu</small></p>
							<h2><strong> {{berri_count}} </strong></h2>  
				    		{% else %}
							<h2><strong> {{berri_count}} </strong></h2>                    
							<p><small>Artikulu</small></p>
							{% endif %}
						</div>
						<div class="col-lg-6">
							{% for bcat in bcategs %}
							<p><strong>{{bcat.count}}</strong> <span class="label label-info tags"><a href="{% url 'gameplay_gaia' bcat.gaia__izena|slugify %}">{{bcat.gaia__izena}}</a></span></p>
							{% endfor %}                 
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-lg-8">
			<h2>Azken Game Playak</h2>
		    {% for gp in gameplayak %}
		    <div class="row">
			    <div class="col-lg-6">
			        <a href="{{gp.get_absolute_url}}"><img src="{{gp.argazkia.get_videoprofile_url}}" alt="" /></a>
			    </div>
			    <div class="col-lg-6">
			        <h3><a href="{{gp.get_absolute_url}}">{{gp.izenburua}}</a></h3>
			        <p><span class="glyphicon glyphicon-play"></span> {% if gp.jokoa.url %}<a href="{{gp.jokoa.url}}">{{gp.jokoa}}</a>{% else %}{{gp.jokoa}}{% endif%} | <span class="glyphicon glyphicon-time"></span> {{gp.iraupena_min}}min {{gp.iraupena_seg}}seg</p>
			        <p>{{gp.desk}}</p>
			    </div>
			</div>
			<hr/>
		    {% endfor %}
		</div>
		<div class="col-lg-4">
			<h2>Azken berriak</h2>
			{% for berri in berriak %}
			<div class="col-lg-8">
			    <a href="{{berri.get_absolute_url}}"><img src="{{berri.argazkia.get_newsprofile_url}}" alt="" /></a>
			</div>
		    <div class="col-lg-4">
		        <h3><a href="{{gp.get_absolute_url}}">{{gp.izenburua}}</a></h3>
		    </div>
		    {% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<a href="" class="btn btn-success btn-block"><span class="glyphicon glyphicon-play-circle"></span> Gehiago ikusi! </a>
		</div>
	</div>
{% endblock %}