{% extends "base.html" %}
{% load comments pagination_tags %}

{%block title%}{{user_prof.fullname}} - {%endblock%}

{% block content %}
	<div class="row">
	    <div class="col-md-8">
		    <div class="row">
		        <div class="col-xs-12 col-sm-4 text-center">
					<img src="{{user_prof.get_photo.get_profile_url}}" alt="" class="center-block img-circle img-responsive">
					{% if user_prof.is_staff%}<img src="{{STATIC_URL}}img/kidea.png" alt="Game Erauntsiako Kidea" class="center-block img-responsive"/>{% endif %}
					<p>{{user_prof.date_joined|date:"Y/m/d H:i"}}
					{% if user.is_authenticated %}<br/><a href="{% url 'messages_compose_to' user_prof.username  %}"><span class="glyphicon glyphicon-envelope"></span></a>{% endif %}
					</p>
				</div><!--/col-->
				<div class="col-xs-12 col-sm-8">
					<h2>{{user_prof.getFullName}}
					{% if user_prof.twitter_id or user_prof.nickname %}
					<small>{% if user_prof.twitter_id %}@{{user_prof.twitter_id}}{% else %}{{user_prof.nickname}}{% endif %}</small>
					{% endif %}
					</h2>
					<p>{% if user_prof.bio%}{{user_prof.bio}}
						{% else %}
	                        {% if user_prof == user %}
							<div class="alert alert-success" role="alert"><strong>Profila erdi hutsik dago!</strong> Bete itzazu zure datu batzuk, besteek ere zurekin jolas eta hitz egin dezaten!</div>
							<p>Bete zure datuak <a href="{% url 'cssocialuser_edit_profile' %}">zure profila</a> editatuz.<p>
							{% else %}
							<div class="alert alert-success" role="alert"><strong>Sentitzen dugu!</strong> Erabiltzaile honek ez ditu profileko datu guztiak bete!</div>
							{% endif %}
						{% endif %}
					</p>
					{% if categs or bcategs %}
					<p><strong>Kategoriak: </strong>
						{% for cat in categs %}
						<span class="label label-info"><a href="{% url 'gameplay_category' cat.kategoria__izena|slugify %}">{{cat.kategoria__izena}}</a></span>
						{% endfor %}
						{% for bcat in bcategs %}
						<span class="label label-success">{{bcat.gaia__izena}}</span>
						{% endfor %}
					</p>
					{% endif %}
					{% if user_prof.getplatforms %}
					<p>
						<strong>Gustuko plataformak:</strong>
						<div class="row">
		                    {% for plat in user_prof.getplatforms %}
			                    {% if forloop.first %}
			                    <div class="col-lg-6"><ul class="list-unstyled">
			                    {%endif%}
			                    	<li><img src="{{STATIC_URL}}img/plataformak/{{plat.plataforma}}.png"/> {{plat.nick}}</li>
			                {% if forloop.counter|divisibleby:4 %}</ul></div><div class="col-lg-6"><ul class="list-unstyled">{% endif %}
    						{% if forloop.last %}</ul></div>{% endif %}
		                    {% endfor %}
		                </div>
					</p>
					{% endif %}
					{% if user_prof.is_staff %}
					<p>
						{% if user_prof.ytube_channel %}
						<a href="{{user_prof.ytube_channel}}"><img src="{{STATIC_URL}}img/youtube.png" /></a>
						{% endif %}
						{% if user_prof.twitter_id %}
						<a href="http://twitter.com/{{user_prof.twitter_id}}"><img src="{{STATIC_URL}}img/twitter.png" /></a>
						{% endif %}
						{% if user_prof.facebook_id %}
						<a href="http://facebook.com/{{user_prof.facebook_id}}"><img src="{{STATIC_URL}}img/facebook.png" /></a>
						{% endif %}
					</p>
					{% endif %}
				</div>
				<div class="clearfix"></div>
		  	</div>
	    </div>
	    {% if user_prof.top_jokoak.all and not user_prof.is_staff %}
			<div class="col-lg-4">
				<h2>Gustuko jokoak</h2>
				{% for joko in user_prof.top_jokoak.all %}
				<div class="row bloglist">
					<div class="col-lg-4">
					    <img src="{{joko.get_photo.get_newsprofile_url}}" alt="" />
					</div>
				    <div class="col-lg-8">
				        <p><strong>{{joko.izena}} {{joko.bertsioa}}</strong><p>
				    </div>
				</div>
				{% endfor %}
			</div>
		{% endif %}
	    <div class="col-md-4">
	    	{% if not gp_count and not berri_count %}
	    	{% else %}
	    	<div class="panel panel-default">
			  	<div class="panel-heading">
			  		<ul class="nav nav-tabs">
			  			<li class="active" role="presentation">
							<a id="stats-tab" aria-controls="stats" data-toggle="tab" role="tab" href="#stats" aria-expanded="false"><h3 class="panel-title">Estatistikak</h3></a>
						</li>
			  			<li role="presentation">
							<a aria-expanded="true" aria-controls="comp" data-toggle="tab" role="tab" id="comp-tab" href="#comp"><h3 class="panel-title">Ordenagailua</h3></a>
						</li>
					</ul>
			  	</div>
			  	<div class="panel-body">

                    <div class="tab-content" id="myTabContent">
					    <div aria-labelledby="stats-tab" id="stats" class="tab-pane fade" role="tabpanel">
					        {% if gp_count %}
						    	<div class="col-lg-6 text-center">
						    		{% if gp_count == 1 %}
									<p><small>Game Play</small></p>
									<h2><strong> {{gp_count}} </strong></h2>
						    		{% else %}
									<h2><strong> {{gp_count}} </strong></h2>
									<p><small>Game Play</small></p>
									{% endif %}
								</div>
								<div class="col-lg-6">
									{% for cat in categs %}
									<p><strong>{{cat.count}}</strong> <span class="label label-info tags"><a href="{% url 'gameplay_category' cat.kategoria__izena|slugify %}">{{cat.kategoria__izena}}</a></span></p>
									{% endfor %}
								</div>
							{% endif %}
							{% if gp_count and berri_count %}<hr/>{% endif %}
							{% if berri_count %}
							<div class="row">
								<div class="col-lg-6 text-center">
						    		{% if berri_count == 1 %}
									<p><small>Artikulu</small></p>
									<h2><strong> {{berri_count}} </strong></h2>
						    		{% else %}
									<h2><strong> {{berri_count}} </strong></h2>
									<p><small>Artikulu</small></p>
									{% endif %}
								</div>
								<div class="col-lg-6">
									{% for bcat in bcategs %}
									<p><strong>{{bcat.count}}</strong> <span class="label label-success tags">{{bcat.gaia__izena}}</span></p>
									{% endfor %}
								</div>
							</div>
							{% endif %}
					    </div>
				    </div>
				    <div aria-labelledby="comp-tab" id="comp" class="tab-pane fade active in" role="tabpanel">
					        {% if user_prof.computer_data %}

						        {% if user_prof.motherboard %}<p><strong>Txartel nagusia:</strong> {{user_prof.motherboard}}</p>{% endif %}
						        {% if user_prof.processor %}<p><strong>Prozesagailua:</strong> {{user_prof.processor}}</p>{% endif %}
						        {% if user_prof.graphics %}<p><strong>Txartel grafikoa:</strong> {{user_prof.graphics}}</p>{% endif %}
						        {% if user_prof.soundcard %}<p><strong>Soinu txartela:</strong> {{user_prof.soundcard}}</p>{% endif %}
						        {% if user_prof.ram %}<p><strong>RAM memoria:</strong> {{user_prof.ram}}</p>{% endif %}
						        {% if user_prof.harddrive %}<p><strong>Disko gogorra:</strong> {{user_prof.harddrive}}</p>{% endif %}
						        {% if user_prof.harddrive2 %}<p><strong>2. Disko gogorra:</strong> {{user_prof.harddrive2}}</p>{% endif %}
						        {% if user_prof.mouse %}<p><strong>Sagua:</strong> {{user_prof.mouse}}</p>{% endif %}
						        {% if user_prof.keyboard %}<p><strong>Teklatua:</strong> {{user_prof.keyboard}}</p>{% endif %}
						        {% if user_prof.speakers %}<p><strong>Bozgorailuak:</strong> {{user_prof.speakers}}</p>{% endif %}

					        {% else %}
					        	<div class="alert alert-warning" role="alert">Ordenagailuaren konfigurazio datuak bete gabe ditu...</div>
					        {% endif %}
					    </div>

				</div>
			</div>
			{% endif %}
	    </div>
	</div>
	<hr/>
	<div class="row">
	    {% if gameplayak %}
			<div class="col-lg-8">
			    <h2>Azken Game Playak</h2>
			    {% autopaginate gameplayak 5 %}
			    {% for gp in gameplayak %}
			    {% get_comment_count for gp as comment_count %}
			    <div class="row">
				    <div class="col-lg-4">
				        <a href="{{gp.get_absolute_url}}"><img src="{{gp.argazkia.get_videoprofile_url}}" alt="" /></a>
				    </div>
				    <div class="col-lg-8">
				        <h3><a href="{{gp.get_absolute_url}}">{{gp.izenburua}}</a></h3>
				        <p><span class="glyphicon glyphicon-play"></span> {% if gp.jokoa.url %}<a href="{{gp.jokoa.url}}">{{gp.jokoa}}</a>{% else %}{{gp.jokoa}}{% endif%} | <span class="glyphicon glyphicon-time"></span> {{gp.iraupena_min}}min {{gp.iraupena_seg}}seg | <img src="{{gp.plataforma.icon.get_profilesmall_url}}" alt="{{gp.plataforma.izena}}" caption="{{gp.plataforma.izena}}"/>{% if comment_count %} | <a href="{{gp.get_absolute_url}}#iruzkinak">{{comment_count}} <span class="glyphicon glyphicon-comment"></span></a>{% endif %}</p>
				        <p>{{gp.get_desk_txikia|safe}}</p>
				    </div>
				</div>
				<hr/>
			    {% endfor %}
			    {% paginate %}
			</div>
			{% if berriak %}
			<div class="col-lg-4">
				<h2>Azken berriak</h2>
				{% for berri in side_berriak %}
				<div class="row bloglist">
					<div class="col-lg-4">
					    <a href="{% url 'berria' berri.slug %}"><img src="{{berri.argazkia.get_newsprofile_url}}" alt="" /></a>
					</div>
				    <div class="col-lg-8">
				        <p><strong><a href="{% url 'berria' berri.slug %}">{{berri.izenburua}}</strong></a><p>
				    </div>
				</div>
			    {% endfor %}
			</div>
			{% endif %}
		{% else %}
			{% if berriak %}
			<div class="col-lg-8">
				<h2>Azken berriak</h2>
				{% autopaginate berriak 5 %}
				{% for berri in berriak %}
				<div class="row bloglist">
					<div class="col-lg-4">
					    <a href="{% url 'berria' berri.slug %}"><img src="{{berri.argazkia.get_videoprofile_url}}" alt="" /></a>
					</div>
				    <div class="col-lg-8">
				        <h3><a href="{% url 'berria' berri.slug %}">{{berri.izenburua}}</a></h3>
				        <p><span class="glyphicon glyphicon-time"></span> {{berri.pub_date|date:"Y/m/d H:i"}} {% for gai in berri.gaia.all %}<span class="label label-success tags">{{gai.izena}}</span>{% endfor %}</p>
				        <p>{{berri.get_desk_txikia|safe}}</p>
				    </div>
				</div>
				<hr/>
			    {% endfor %}
			    {% paginate %}
			</div>
			{% endif %}
		{% endif %}
		{% if user_prof.top_jokoak.all and user_prof.is_staff %}
			<div class="col-lg-4">
				<h2>Gustuko jokoak</h2>
				{% for joko in user_prof.top_jokoak.all %}
				<div class="row bloglist">
					<div class="col-lg-4">
					    <img src="{{joko.get_photo.get_newsprofile_url}}" alt="" />
					</div>
				    <div class="col-lg-8">
				        <p><strong>{{joko.izena}} {{joko.bertsioa}}</strong><p>
				    </div>
				</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
