{% extends "base.html" %}
{% load pagination_tags include comments gamerauntsia %}

{%block title%}Youtuberrak - {%endblock%}

{% block morejs %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/eu_ES/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}

<div class="col-sm-12">
    <h1 class="page-header">Youtuberrak
        <small>Harpidetu zaitez euren kanaletara!</small>
    </h1>
</div>

<div class="col-sm-12">

        {% autopaginate users 9 %}
        {% for user in users %}

            {% if forloop.first %}<div class="row">{% endif %}
                <div class="col-sm-4 col-sm-6">
                    <a href="{% url 'gamer_profile' user.username %}"><img src="{{user.get_photo.get_profile_url}}" class="img-circle img-responsive"></a>
                    <h3><a href="{% url 'gamer_profile' user.username %}">{{user.getFullName}}</a>
                        <small>{% if user.twitter_id %}@{{user.twitter_id}}{% else %}{{user.nickname}}{% endif %}</small>
                    </h3>
                    <p>{{user.bio|striptags}}</p>
                </div>

            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}

         <hr>

        {% paginate %}
</div>
{% endblock %}
