{% if user_prof.computer_data %}

{% if user_prof.motherboard %}<p><strong>Txartel nagusia:</strong> {{user_prof.motherboard}}</p>{% endif %}
{% if user_prof.processor %}<p><strong>Prozesagailua:</strong> {{user_prof.processor}}</p>{% endif %}
{% if user_prof.graphics %}<p><strong>Txartel grafikoa:</strong> {{user_prof.graphics}}</p>{% endif %}
{% if user_prof.soundcard %}<p><strong>Soinu txartela:</strong> {{user_prof.soundcard}}</p>{% endif %}
{% if user_prof.ram %}<p><strong>RAM memoria:</strong> {{user_prof.ram}}</p>{% endif %}
{% if user_prof.harddrive %}<p><strong>Disko gogorra:</strong> {{user_prof.harddrive}}</p>{% endif %}
{% if user_prof.harddrive2 %}<p><strong>2. Disko gogorra:</strong> {{user_prof.harddrive2}}</p>{% endif %}
{% if user_prof.mouse %}<p><strong>Sagua:</strong> {{user_prof.mouse}}</p>{% endif %}
{% if user_prof.keyboard %}<p><strong>Teklatua:</strong> {{user_prof.keyboard}}</p>{% endif %}
{% if user_prof.speakers %}<p><strong>Bozgorailuak:</strong> {{user_prof.speakers}}</p>{% endif %}

{% else %}
<div class="alert alert-warning" role="alert">Ordenagailuaren konfigurazio datuak bete gabe ditu...</div>
{% endif %}
