{% extends "base.html" %}
{% load i18n %}

{% block morejs %}
    {{ eventform.media }}
{% endblock %}

{% block content %}
<div class="col-sm-12">
    <h1>Gehitu ekitaldia</h1>
    <div class="col-sm-8">
        <form action="{{request.path}}" method="POST">
            {% csrf_token %}
            {% for field in eventform %}
            <p>
                {% if field.errors %}<div class="alert alert-danger">{{ field.errors.as_text }}</div>{% endif %}
                {% if field.label %}<strong>{{field.label}}:</strong>{% endif %} {{field}} <span class="helptext">{{field.help_text}}</span>
            </p>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
        </form>
    </div>
    <div class="col-sm-4"></div>
    <hr/>
</div>
{% endblock %}