{% extends "base.html" %}
{% load i18n %}


{% block title%}Editatu profila - {% endblock %}

{% block content %}
	{% block cscontent %}
	<h1>Editatu profila</h1>
	<div id="editprofile">

			<ul class="nav nav-tabs">
				<li class="{% if tab == 'personal' %}active{%endif%}"><a href="{% url 'cssocialuser_edit_profile' %}">Datu orokorrak</a></li>
				<li class="{% if tab == 'photo' %}active{%endif%}"><a href="{% url 'cssocialuser_edit_profile_photo' %}">Argazkia</a></li>
				<li class="{% if tab == 'platforms' %}active{%endif%}"><a href="{% url "edit_profile_plat" %}">Plataformak</a></li>
				<li class="{% if tab == 'notifications' %}active{%endif%}"><a href="{% url "edit_profile_noti" %}">Jakinarazpenak</a></li>
				<li class="{% if tab == 'social' %}active{%endif%}"><a href="{% url "cssocialuser_edit_profile_social" %}">Sare sozialak</a></li>
			</ul>


		{% block perfil %}{% endblock%}
	</div>
	{% endblock %}
{% endblock %}

{% block sidebar %}
	{% block cssidebar %}{%include 'profile/user_data_sidebar.html'%}{% endblock %}
{% endblock %}