{% extends "community/base.html" %}
{% load i18n %}


{% block title%}{% trans "Edit your profile" %}{% endblock %}

{% block content %}
	{% block cscontent %}
	<h1>{% trans "Edit your profile" %}</h1>
	<div id="editprofile">

			<ul class="nav nav-tabs">
				<li class="{% if tab == 'personal' %}active{%endif%}"><a href="{% url "cssocialuser_edit_profile" %}">{% trans "Data" %}</a></li>
				<li class="{% if tab == 'photo' %}active{%endif%}"><a href="{% url "cssocialuser_edit_profile_photo" %}">{% trans "Photo" %}</a></li>
				<li class="{% if tab == 'social' %}active{%endif%}"><a href="{% url "cssocialuser_edit_profile_social" %}">{% trans "Social network" %}</a></li>
			</ul>


		{% block perfil %}{% endblock%}
	</div>
	{% endblock %}
{% endblock %}

<!-- {% block sidebar %}
	{% block cssidebar %}{%include 'profile/user_data_sidebar.html'%}{% endblock %}
{% endblock %} -->