{% extends "profile/base.html" %}
{% load i18n %}

{% block perfil %}
<div class="profileform">
	<h2>{% trans "Your personal data" %}</h2>
	<form action="{{request.path}}" method="POST">
		{% csrf_token %}
		<fieldset>
			<div class="input-group">
  				<input id="id_fullname" class="form-control" type="text" name="fullname" maxlength="60" placeholder="Zure izena" value="{{ profileform.fullname.value }}">
  			</div>
			<br/><textarea id="id_bio" rows="10" name="bio" cols="40" placeholder="Zure biografia...">{{ profileform.bio.value }}</textarea><br/>
			<br/><textarea id="id_signature" rows="10" name="signature" cols="40" placeholder="Foroko sinadura...">{{ profileform.signature.value }}</textarea><br/>
			<input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
	    </fieldset>
	</form>
</div>
{% endblock %}