{% extends "profile/base.html" %}
{% load i18n %}

{% block perfil %}
<div class="profileform">
    <h2>Plataformak</h2>
    <form class="form-horizontal" action="{{request.path}}" method="POST">
        {% csrf_token %}
        {{ gameformset.management_form }}
        {% for gameform in gameformset %}
            {% for field in gameform %}
            {{forloop.counter}}
                {% if 'nick' in field.name %}
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="form-{{forloop.counter}}-{{field.name}}" placeholder="{{field.label}}"/>
                    </div>
                {% else %}
                    {% if 'plataforma' in field.name %}
                    <div class="form-group">
                        <div class="col-sm-4">
                            <select class="form-control" id="{{field.id_for_label}}" name="form-{{forloop.couter}}-{{field.name}}">
                                {% for x,y in options %}
                                  <option value="{{ x }}">{{ y }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% else %}
                        {% if 'DELETE' in field.name %}
                            <label for="{{field.id_for_label}}" class="col-sm-1 control-label">{{field.label}}</label>
                            <div class="col-sm-1">
                                <input class="form-control" id="{{field.id_for_label}}" type="checkbox" name="form-{{forloop.couter}}-{{field.name}}">
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
</table>
<input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
</form>
</div>
{% endblock %}
