{% extends "profile/base.html" %}
{% load i18n include %}

{% block perfil %}
<div class="profileform">
    <h2>Amaitutako jokoak</h2>
    <p>Zehaztu hemen zein diren amaitu dituzun joko horiek.</p>
    <form class="form-horizontal" action="{{request.path}}" method="POST">
    
        {% csrf_token %}
        {{ gameformset.management_form }}

        {% for form in gameformset %}
            {{form}}<br/>
        {% endfor %}
        
        <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
    </form>
</div>
{% endblock %}