{% extends "profile/base.html" %}
{% load i18n %}

{% block perfil %}
<div class="profileform">
    <h2>Plataformak</h2>
    <form class="form-horizontal" action="{{request.path}}" method="POST">
        {% csrf_token %}
        {{ gameformset.management_form }}
        {% for gameform in gameformset %}
            {% for field in gameform %}
            <div class="form-group">
                {% if 'nick' in field.name %}
                    <input class="form-control" type="text" name="{{field.name}}" placeholder="{{field.label}}"/>
                {% else %}
                    {% if 'plataforma' in field.name %}
                        <select class="form-control" id="{{field.id_for_label}}" name="{{field.name}}">
                            {% for x,y in options %}
                              <option value="{{ x }}">{{ y }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <label for="{{field.id_for_label}}" class="col-sm-2 control-label">{{field.label}}</label>
                        <input id="{{field.id_for_label}}" type="checkbox" name="{{field.name}}">
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        {% endfor %}
</table>
<input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
</form>
</div>
{% endblock %}
