{% extends "profile/base.html" %}
{% load i18n include %}

{% block perfil %}
<div class="profileform">
    <h2>Joko gustokoenak</h2>
    <p>Zehaztu hemen zein diren zure joko gustukoenak edo gehien erabiltzen dituzunak. Datu hauek erabiliko ditugu zure interes berdinak dituzten jokalariak aurkezteko.</p>
    <form class="form-horizontal" action="{{request.path}}" method="POST">
        {% csrf_token %}
        {{topform.as_p}}
        <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
    </form>

    <h3>Kontutan hartu beharko zenituzkeen komunitateko jokalariak</h3>
    <ul class="list-unstyled">
        {% for lagun in lagunak %}
        <li>
            <a href="{% url 'gamer_guestprofile' lagun.username %}">
                <span>{{ lagun.getFullName }}</span>
                <img src="{{lagun.get_photo.get_profile_url}}" alt="" class="center-block img-circle img-responsive">
            </a>
        </li>
        {% endfor %}
    </ul>

    <h3>Komunitateko jokuen Top-a:</h3>
    <ul>
        {% for k in komunitatekoTop %}
            <li>{{k.izena}} ({{k.dcount}})</li>
        {% endfor %}
    </ul>

</div>



{% endblock %}
