{% extends "profile/base.html" %}
{% load i18n %}

{% block perfil %}
<div class="inline-group" id="jokuplataforma_set-group">
  <div class="tabular inline-related last-related">
<input id="id_jokuplataforma_set-TOTAL_FORMS" name="jokuplataforma_set-TOTAL_FORMS" type="hidden" value="3" /><input id="id_jokuplataforma_set-INITIAL_FORMS" name="jokuplataforma_set-INITIAL_FORMS" type="hidden" value="0" /><input id="id_jokuplataforma_set-MAX_NUM_FORMS" name="jokuplataforma_set-MAX_NUM_FORMS" type="hidden" value="1000" />
<fieldset class="module">
   <h2>Plataformak</h2>
   
   <table>
     <thead><tr>
     
       
         <th colspan="2" class="required">Plataforma
         
         </th>
       
     
       
         <th class="required">Nick
         
         </th>
       
     
     <th>Ezabatu?</th>
     </tr></thead>

     <tbody>
     
        
        <tr class="form-row row1 "
             id="jokuplataforma_set-0">
        <td class="original">
          
          <input id="id_jokuplataforma_set-0-id" name="jokuplataforma_set-0-id" type="hidden" />
          <input id="id_jokuplataforma_set-0-user" name="jokuplataforma_set-0-user" type="hidden" value="1" />
          
        </td>
        
          
            
              <td class="field-plataforma">
              
                  
                  <select id="id_jokuplataforma_set-0-plataforma" name="jokuplataforma_set-0-plataforma">
<option value="" selected="selected">---------</option>
<option value="steam">Steam</option>
<option value="origin">Origin</option>
<option value="lol">League of Legends</option>
<option value="uplay">Uplay</option>
<option value="xbox">XBOX</option>
<option value="ps4">PS4</option>
<option value="wii">Wii</option>
</select>
              
              </td>
            
          
            
              <td class="field-nick">
              
                  
                  <input class="vTextField" id="id_jokuplataforma_set-0-nick" maxlength="64" name="jokuplataforma_set-0-nick" type="text" />
              
              </td>
            
          
        
        
          <td class="delete"></td>
        
        </tr>
     
        
        <tr class="form-row row2 "
             id="jokuplataforma_set-1">
        <td class="original">
          
          <input id="id_jokuplataforma_set-1-id" name="jokuplataforma_set-1-id" type="hidden" />
          <input id="id_jokuplataforma_set-1-user" name="jokuplataforma_set-1-user" type="hidden" value="1" />
          
        </td>
        
          
            
              <td class="field-plataforma">
              
                  
                  <select id="id_jokuplataforma_set-1-plataforma" name="jokuplataforma_set-1-plataforma">
<option value="" selected="selected">---------</option>
<option value="steam">Steam</option>
<option value="origin">Origin</option>
<option value="lol">League of Legends</option>
<option value="uplay">Uplay</option>
<option value="xbox">XBOX</option>
<option value="ps4">PS4</option>
<option value="wii">Wii</option>
</select>
              
              </td>
            
          
            
              <td class="field-nick">
              
                  
                  <input class="vTextField" id="id_jokuplataforma_set-1-nick" maxlength="64" name="jokuplataforma_set-1-nick" type="text" />
              
              </td>
            
          
        
        
          <td class="delete"></td>
        
        </tr>
     
        
        <tr class="form-row row1 "
             id="jokuplataforma_set-2">
        <td class="original">
          
          <input id="id_jokuplataforma_set-2-id" name="jokuplataforma_set-2-id" type="hidden" />
          <input id="id_jokuplataforma_set-2-user" name="jokuplataforma_set-2-user" type="hidden" value="1" />
          
        </td>
        
          
            
              <td class="field-plataforma">
              
                  
                  <select id="id_jokuplataforma_set-2-plataforma" name="jokuplataforma_set-2-plataforma">
<option value="" selected="selected">---------</option>
<option value="steam">Steam</option>
<option value="origin">Origin</option>
<option value="lol">League of Legends</option>
<option value="uplay">Uplay</option>
<option value="xbox">XBOX</option>
<option value="ps4">PS4</option>
<option value="wii">Wii</option>
</select>
              
              </td>
            
          
            
              <td class="field-nick">
              
                  
                  <input class="vTextField" id="id_jokuplataforma_set-2-nick" maxlength="64" name="jokuplataforma_set-2-nick" type="text" />
              
              </td>
            
          
        
        
          <td class="delete"></td>
        
        </tr>
     
        
        <tr class="form-row row2  empty-form"
             id="jokuplataforma_set-empty">
        <td class="original">
          
          <input id="id_jokuplataforma_set-__prefix__-id" name="jokuplataforma_set-__prefix__-id" type="hidden" />
          <input id="id_jokuplataforma_set-__prefix__-user" name="jokuplataforma_set-__prefix__-user" type="hidden" value="1" />
          
        </td>
        
          
            
              <td class="field-plataforma">
              
                  
                  <select id="id_jokuplataforma_set-__prefix__-plataforma" name="jokuplataforma_set-__prefix__-plataforma">
<option value="" selected="selected">---------</option>
<option value="steam">Steam</option>
<option value="origin">Origin</option>
<option value="lol">League of Legends</option>
<option value="uplay">Uplay</option>
<option value="xbox">XBOX</option>
<option value="ps4">PS4</option>
<option value="wii">Wii</option>
</select>
              
              </td>
            
          
            
              <td class="field-nick">
              
                  
                  <input class="vTextField" id="id_jokuplataforma_set-__prefix__-nick" maxlength="64" name="jokuplataforma_set-__prefix__-nick" type="text" />
              
              </td>
            
          
        
        
          <td class="delete"></td>
        
        </tr>
     
     </tbody>
   </table>
</fieldset>
  </div>
</div>

<script type="text/javascript">

(function($) {
  $("#jokuplataforma_set-group .tabular.inline-related tbody tr").tabularFormset({
    prefix: "jokuplataforma_set",
    adminStaticPrefix: '/static/admin/',
    addText: "Gehitu beste Plataforma bat",
    deleteText: "Kendu"
  });
})(django.jQuery);
</script>







<div class="submit-row">
<input type="submit" value="Gorde" class="default" name="_save" />
<p class="deletelink-box"><a href="/kudeatu/gamer/gameruser/1/delete/" class="deletelink">Ezabatu</a></p>

<input type="submit" value="Gorde eta gehitu beste bat" name="_addanother" />
<input type="submit" value="Gorde eta jarraitu editatzen" name="_continue" />
</div>
{% endblock %}