{% extends "profile/base.html" %}
{% load i18n %}

{% block morejs %}
    <script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
{% endblock %}

{% block perfil %}
<div class="profileform">
	<h2>{% trans "Your personal data" %}</h2>
	<form action="{{request.path}}" method="POST">
		{% csrf_token %}
		<fieldset>
			<div class="input-group">
  				<input id="id_fullname" class="form-control" type="text" name="fullname" maxlength="60" placeholder="Zure izena" value="{{ profileform.fullname.value }}">
  			</div>
			<br/><textarea id="id_bio" rows="5" name="bio" cols="80" placeholder="Zure biografia...">{{ profileform.bio.value }}</textarea><br/>
			<br/>{{ profileform.signature.field }}<br/>
			<input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
	    </fieldset>
	</form>
</div>
{% endblock %}