{% extends "profile/base.html" %}
{% load i18n %}

{% block perfil %}
<div class="profileform">
	<h2>{% trans "Photo" %}</h2>
	{% if profile.photo %}
		<img src="{{user.get_photo.get_profile_url}}" alt="" class="img-circle img-responsive">
	{% else %}
		<p class="message">{% trans "You haven't got any photo!" %}</p>
	{% endif %}
	<h2>{% trans "New photo" %}</h2>
	<form method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="{% trans 'CHANGE PHOTO' %}" class="btn btn-primary" />
	</form>
</div>

{% endblock %}