{% extends "profile/base.html" %}
{% load i18n %}

{% block perfil %}
<div class="profileform">
    <h2>Ordenagailua</h2>
    <p>Ordenagailuko datuak sartzeko aukera duzu hemen. Datu hauek gero zure perfilean agertuko dira. Interesgarriak izan daitezke beste jokalarientzat ere!</p>
    <form action="{{request.path}}" method="POST">
        {% csrf_token %}
        {{pcform.as_p}}
        <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
    </form>
</div>
<script type="text/javascript">
	$(function() {
		console.log("HAHA");
		//1fac52e3e783130f88a953e2510cfecc2147828e
		$("#id_froga").autocomplete({
			source: function (request, response) {
				$.ajax({	
					url: "http://api.giantbomb.com/search/?query=" + request.term + "&api_key=1fac52e3e783130f88a953e2510cfecc2147828e&format=jsonp&json_callback=myCallback&field_list=name",
					dataType: "jsonp",
					jsonpCallback: 'myCallback',
					data: {
						maxRows: 12,
						name_startsWith: request.term
					},	
				success: function myCallback (data) {
					response($.map(data.results, function (item) {
						return {
							label: item.name,
							value: item.name
						}
					}));
				}
				});
			},
		});
	});		

    // $("#id_froga").autocomplete({
    //     source: "http://thegamesdb.net/api/GetGamesList.php",
    //     minLength: 2,
    //     select: function(event, ui) {
    //         // $('#balioa').val( $(ui).val());
    //         $('<input type="hidden" value="'+ui.item.id+'" name="top_jokoak" id="id_top_jokoak_{{jokoak}}">').insertAfter('#id_top_jokoak_{{jokoak|add:-1}}');
    //     }
    // });
	// $("#id_froga").autocomplete({
	// 	source: function( request, response ) {
 //        $.ajax({
 //          url: "http://thegamesdb.net/api/GetGamesList.php",
 //          dataType: "jsonp",
 //          data: {
 //            q: request.term
 //          },
 //          success: function( data ) {
 //            response( data );
 //          }
 //        });
 //      }
 //    });
//});
</script>
{% endblock %}