{% extends "django_messages/base.html" %}
{% load i18n bootstrap %}

{% block content %}
<h1>{% trans "Mezu berria"%}</h1>
{{ block.super }}
<div class="row">&nbsp;</div>
<div class="col-sm-12">
  <form class="form-horizontal" role="form" method="post">

      {% csrf_token %}
      {{form|bootstrap}}

      <div class="form-group">
          <input class="btn btn-primary" type="submit" value="{% trans "Bidali" %}"/>
      </div>
  </form>
</div>

<script type="text/javascript">
$(function() {
    $("#id_recipient").autocomplete({
        source: "{% url 'ajax_user' %}",
        minLength: 2,
        select: function(event, ui) {
            $('#id_recipient').val(ui.item.value);
        }
    });
});
</script>

{% endblock %}
