{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Ezabatutako mezuak" %}</h1>
{{ block.super }}
<div class="row">&nbsp;</div>
<div class="col-sm-12">
    {% if message_list %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{% trans "Igorlea" %}</th>
                    <th>{% trans "Gaia" %}</th>
                    <th>{% trans "Fetxa" %}</th>
                    <th>{% trans " " %}</th>
                </tr>
            </thead>
            <tbody>
        {% for message in message_list %}
            <tr>
                <td>{{ message.sender }}</td>
                <td>
                {{ message.subject }}
                </td>
                <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'messages_undelete' message.id %}"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "Ez dago mezurik." %}</p>
    {% endif %}
</div>
<br />
{% endblock %}
