{% extends "base.html" %}
{% load i18n bootstrap %}

{% block morejs %}
    {{ eventform.media }}
{% endblock %}

{% block content %}
<div class="row">
    <h1>Gehitu ekitaldia</h1>
    <div class="col-sm-8">
        <form action="{{request.path}}" method="POST">
            {% csrf_token %}
            {{eventform|bootstrap}}
            <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
        </form>
    </div>
    <div class="col-sm-8"></div>
</div>
<hr/>
{% endblock %}