{% extends "base.html" %}
{% load i18n bootstrap %}

{% block morejs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block content %}
<div class="col-sm-12">
    <h1>Gehitu gameplaya</h1>
    <form action="{{request.path}}" method="POST" ENCTYPE="multipart/form-data">
        {% csrf_token %}
        {{gameplayform|bootstrap}}
        <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
    </form>
    <hr/>
</div>
{% endblock %}
