{% load i18n %}

<style>

#main {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-ficha2 {
  padding-top: 25px;
  border-top: 1px solid #EEE;
}
.header-ficha, .header-ficha2 {
  background: #FFF;
  margin-bottom: 18px;
  margin-top: 18px;
}

.header-ficha2 .top-header .cont-img {
  float: left;
  width: 159px;
}


.header-ficha2 .top-header .cont-img {
  float: left;
  width: 159px;
}

.header-ficha2 .top-header img.main {
  width: 141px;
  height: 141px;
}
.header-ficha2 .top-header img.main {
  width: 141px;
  height: 141px;
  border-radius: 8px;
}
.header-ficha2 .top-header img.main {
  width: 94px;
  height: 94px;
  border-radius: 8px;
}
.header-ficha2 .top-header img.main {
  width: 94px;
  height: 94px;
  float: left;
  margin-right: 18px;
}
.elevate-2 {
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.20), 0 4px 8px -2px rgba(0,0,0,0.25);
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
.header-ficha2 .breadcrumb {
  padding: 0;
  background: none;
  margin-bottom: 15px;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.header-ficha2 .breadcrumb > li {
  color: #999;
}
.breadcrumb > li {
  display: inline-block;
}
.header-ficha2 .breadcrumb > li > a {
  color: #999;
}

.header-ficha2 .top-header .cont-text {
  width: 76%;
  float: left;
}
.header-ficha2 .cont-text .title {
  display: inline-flex;
}

.header-ficha2 .cont-text .title h1 {
  margin-bottom: 0;
}
.header-ficha h1 {
  font-size: 25px;
  font-weight: 600;
  color: #444;
}
.header-ficha h1 {
  font-size: 30px;
  font-weight: 600;
  color: #444;
}
.header-ficha2 h1 {
  margin-top: 0px;
  color: #444;
  font-weight: 600;
  font-size: 24px !important;
}

.header-ficha2 ul.mini-navbar {
  color: #777;
  margin-top: 12px;
}

ul.mini-navbar {
  margin: 0 0 10px 0;
    margin-top: 0px;
}
ul.mini-navbar {
  font-family: Arial;
  font-weight: bold;
  font-size: 11px;
  padding: 0;
  list-style: none;
  margin: 0 -15px 10px -15px;
  overflow: hidden;
}


.header-ficha2 .player-bar {
  margin-bottom: 27px;
}

.header-ficha2 .player-bar {
  padding-left: 321px;
}

.header-ficha2 .player-bar {
  margin-top: 20px;
  padding-left: 206px;
  margin-bottom: 18px;
}


.header-ficha2 .player-bar .button {
  width: 312px;
  margin-left: -321px;
  border-radius: 8px;
}
.header-ficha2 .player-bar .button {
  background: #FF8000;
  float: left;
  margin-left: -206px;
  width: 196px;
  height: 47px;
  padding-top: 14px;
  position: relative;
}
</style>

{% if episode %}

<div id="main">
    <div class="header-ficha2 header-ficha radio-header">
        <div class="">
            <div class="row">
                <div class="col-lg-9-special col-md-8-special col-sm-12 col-xs-12">

                    <div class="top-header clearfix">
                        <div>
                            <div class="cont-img">
                                <img src="{{ show.original_image.get_videoprofile_url }}" alt="{{show.title}} irudia">
                            </div>
                            <div class="cont-breadcrumb">
                                {{show.title}}
                            </div>
                            <div class="cont-text">
                                <div class="title">
                                    <h1 class="pull-left" data-trigger="virtual-hover" data-toggle="label-explicit-hover" data-target=".label-explicit">
                                        {{ episode.title}}
                                    </h1>
                                    <ul class="mini-navbar hidden-xs">
                                        <li>
                                            <span class="icon-date">{{ episode.published|date:"Y-m-d" }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>

                    </div>

                    <div id="jp_container_1" class="player-bar player-bar-xs jp-audio">
                        <div class="button">
<!--                        <a href="{{ enclosure.url }}" class="tiptip download"-->
<!--                                    title="{% trans "to download right click and select 'save link as'" %}">-->
<!--                                    {% trans "Download / Stream" %}-->
<!--                                </a>-->
<!--                        </div>-->
                            <audio controls>
                                    <source src="{{ enclosure.url }}" type="audio/mpeg">
                                </audio>
                    </div>
                </div>
            </div>
            <div class="col-lg-3-special col-md-4-special col-sm-12 col-xs-12 text-center m-bottom-20 banner-audio-player">

            </div>
        </div>
    </div>
</div>
<div class="container container-oyentes">
    <div class="row">
        <div class="col-md-8">
            {% load embed_video_tags %}
            {% for myvideo in episode.embedmedia_set.all %}
                {% video myvideo.url  %}
            {% endfor %}
            <h2>{{ episode.title }}</h2>
            <p>{{episode.description}}</p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<!--    <div class="podcast-episode mod">-->
<!--        <h2>{{ episode.title }}</h2>-->
<!--        <div class="row">-->
<!--            <div class="col-sm-8">-->
<!--                <div class="row">-->
<!--                    {% for enclosure in episode.enclosure_set.all %}-->
<!--                        {% if enclosure.mime == 'mp3' %}-->
<!--                            <div class="col-sm-12">-->
<!--                                <audio controls>-->
<!--                                    <source src="{{ enclosure.url }}" type="audio/mpeg">-->
<!--                                </audio>-->
<!--                            </div>-->
<!--                            <div class="col-sm-12">-->
<!--                                {{ episode.published|date:"Y-m-d" }}-->
<!--                                <a href="{{ enclosure.url }}" class="tiptip download"-->
<!--                                    title="{% trans "to download right click and select 'save link as'" %}">-->
<!--                                    {% trans "Download / Stream" %}-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-12">-->
<!--                        <h6>{{ episode.subtitle }}</h6>-->

<!--                        {% if episode.description %}-->
<!--                            <div class="episode-description">{{ episode.description }}</div>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-2">-->
<!--                {% load embed_video_tags %}-->
<!--                {% for myvideo in episode.embedmedia_set.all %}-->
<!--                    {% video myvideo.url tiny %}-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
{% else %}
    <h2 class="coming-soon">{% trans "Coming soon..." %}</h2>
{% endif %}
