{% load i18n %}

{% if episode_list %}
    <div class="episode-list">
        {% for episode in episode_list %}
            <div class="podcast-episode mod">
                <h2>{{ episode.title }}</h2>
                <p>{{ episode.description }}</p>
                <div class="row">
                    {% for enclosure in episode.enclosure_set.all %}
                        {% if enclosure.mime == 'mp3' %}
                            <div class="col-sm-12">
                                <audio controls>
                                    <source src="{{ enclosure.url }}" type="audio/mpeg">
                                </audio>
                            </div>
                            <div class="col-sm-12">
                                {{ episode.published|date:"Y-m-d" }}
                                <a href="{{ enclosure.url }}" class="tiptip download"
                                    title="{% trans "to download right click and select 'save link as'" %}">
                                    {% trans "Download / Stream" %}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if not forloop.last %}<hr/>{% endif %}
        {% endfor %}
    </div>
{% else %}
    <h2>{% trans "Coming soon..." %}</h2>
{% endif %}
