{% load i18n %}

{% if episode %}
    <div class="podcast-episode mod">
        <h2>{{ episode.title }}</h2>
        <div class="row">
            {% for enclosure in episode.enclosure_set.all %}
                {% if enclosure.mime == 'mp3' %}
                            <div class="col-sm-12">
                                <audio controls>
                                    <source src="{{ enclosure.url }}" type="audio/mpeg">
                                </audio>
                            </div>
                            <div class="col-sm-12">
                                {{ episode.published|date:"Y-m-d" }}
                                <a href="{{ enclosure.url }}" class="tiptip download"
                                    title="{% trans "to download right click and select 'save link as'" %}">
                                    {% trans "Download / Stream" %}
                                </a>
                            </div>
                  {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h6>{{ episode.subtitle }}</h6>

                {% if episode.description %}
                    <div class="episode-description">{{ episode.description }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <h2 class="coming-soon">{% trans "Coming soon..." %}</h2>
{% endif %}
