{% extends "base.html" %}
{% load gamerauntsia %}

{%block title%}Talde motorra - {%endblock%}

{% block content %}

<div class="col-sm-12">
  <h1 class="page-header">Nortzuk gara</h1>
</div>
<div class="col-sm-8">
    <p>Game Erauntsia egitasmo bezala <strong>2014. urtean</strong> sortu zen
    euskarazko bideojokoen kopuru eta hauei lotutako edukien
    eskaintza urriari aurre egiteko. Horregatik hasieratik oinarrizko
    <strong>helburua bideojokoak eta euskara uztartzea</strong> izan da. Egitasmoa
    <strong>elkarte ofizial</strong> bihurtu zen 2016.urtean eta helburua lortzeko bi
      bide nagusi finkatu ditugu:</p>
    <ul>
      <li><strong>Euskara eta bideojokoak lotzen dituzten ekintza orotarikoak
      bideratzea</strong>: gamer gelak, tailerrak, txapelketak, hitzaldiak...
      </li>
      <li><strong>Bideojokozale euskaldunak elkartzeko espazioak sortzea.</strong>
      </li>
    </ul>
    <p>Hainbat urtez elkarteak beste instituzio eta agenteekin
    <strong>elkarlanak</strong> burutu ditu bere helburuak lortzeko: Asmoz Fundazioa,
    Azkue Fundazioa, Durangoko Azoka, EDE Fundazioa, Euskaltzeen
    Topagunea, Mondragon Unibertsitatea, Tabakalera Kultura
    Garaikidearen Nazioarteko Zentroaren 2DEO Ikus-entzunezko
    laborategia… eta beste hainbat instituzioen ekintzetan parte hartu
      du.</p>
    <p>Elkarteak bere helburuak burutzen laguntzeko 2020.urtetik <strong>Eusko
    Jaurlaritzaren Hizkuntza Politikarako Sailburuordetzaren babesa</strong>
    jasotzen du. Horretaz gain, Euskara Aholku Batzordearen IKT
      sailean aholkularitza lana egin du.</p>
    <p>Honako topaleku birtualak martxan jarri ditu Game Erauntsia Elkarteak:</p>
    <ul>
      <li><a href="https://telegram.me/gamerauntsia" target="_blank">Telegram taldea</a>: bideojokoei buruz
      hitz egiteko eta zalantzak eta esperientziak partekatzeko.
      </li>
      <li><a href="https://discord.com/invite/zYv84NQ" target="_blank"">Discord zerbitzaria</a>: online jokatzeko testu eta ahots zerbitzaria.</li>
    </ul>
        <h2>Erabaki taldea</h2>
        {% for user in users %}
        {% if user.is_core_team_member and user.is_active %}
            {% if forloop.first %}<div class="row">{% endif %}
                <div class="col-sm-4 col-sm-6">
                    <a href="{% url 'gamer_profile' user.username %}"><img src="{{user.get_photo.get_profile_url}}" class="img-circle img-responsive"></a>
                    <h3><a href="{% url 'gamer_profile' user.username %}">{{user.fullname}}</a>
                        <small>{% if user.twitter_id %}@{{user.twitter_id}}{% else %}{{user.nickname}}{% endif %}</small>
                    </h3>
                    <p>{{user.bio|striptags}}</p>
                </div>

            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <div class="col-sm-4">
        {% steam_panel %}
    </div>
</div>
{% endblock %}
