
{% extends "base.html" %}

{% block title %}Foroa - {% endblock %}

{% block content %}
<!-- Threads  -->

<div class="row">
    <div class="col-lg-12">
        <a id="new_topic" class="btn btn-primary" href="{% url 'new-topic' pk %}">Gai berria hasi</a>
    </div>
</div>
    
<div class="row">
    <div class="col-lg-12">
        <div id="list">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Topics</th>
                            <th>Replies</th>
                            <th>Last post</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for topic in topics.object_list %}
                        <tr>
                            <td {% if forloop.last %}class="last"{% endif %}>
                            <div class="title"> <a href="{% url 'topic-detail' topic.pk %}">{{ topic.title }}</a>
                                </div></td>
                            <td {% if forloop.last %}class="last"{% endif %}>{{ topic.num_replies }}</td>
                            <td {% if forloop.last %}class="last"{% endif %}>
                                {{ topic.last_post.short|linebreaksbr }}</td>
                            <td {% if forloop.last %}class="last"{% endif %}>
                                <a class="btn btn-default" href="{% url 'topic-detail' topic.pk %}">IKUSI</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Next/Prev page links  -->
{% if topics.object_list and topics.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if topics.has_previous %}
            <a href= "?page={{ topics.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ topics.number }} of {{ topics.paginator.num_pages }}
        </span>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
