{% extends "base.html" %}

{% block title %}Foroak - {% endblock %}

{% block content %}
<!-- Forums  -->
<h1 class="page-header">Foroa <small>Denak</small></h1>
<div class="row">
    {% for cat in categories %}
        <h2>{{cat.title}}</h2>
        {% for forum in cat.get_forums %}
            <div class="col-lg-4">
                <div class="col-lg-2 text-center">
                    <a href="{% url 'forum-detail' forum.slug %}"><img class="img-responsive" src="{{forum.icon.get_forum_thumbnail_url}}"/></a>
                </div>
                <div class="col-lg-10">
                    <h3><a href="{% url 'forum-detail' forum.slug %}">{{forum.title}}</a></h3>
                    <p>{{forum.get_summary}}</p>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}