{% extends "base.html" %}

{% block title %}Foroak - {% endblock %}

{% block content %}
<!-- Forums  -->
<div class="row">
    <div class="col-lg-12">
        <div id="list">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Posts</th>
                            <th>Last post</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for forum in forums %}
                        <tr>
                            <td {% if forloop.last %}class="last"{% endif %}>
                                <div class="title"> <a href="{% url 'forum-detail' forum.pk %}">{{ forum.title }}</a></div>
                            </td>
                            <td {% if forloop.last %}class="last"{% endif %}>{{ forum.num_posts }}</td>
                            <td {% if forloop.last %}class="last"{% endif %}>
                                {{ forum.last_post.short|linebreaksbr }}</td>
                            <td {% if forloop.last %}class="last"{% endif %}>
                                <a class="btn btn-default" href="{% url 'forum-detail' forum.pk %}">IKUSI</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}