{% extends "base.html" %}

{% block title %}Foroak - {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Foroa <small>Denak</small></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at purus lacus. Fusce sapien enim, pellentesque sed pharetra nec, hendrerit eget velit. Praesent ante nibh, accumsan non sem vitae, congue imperdiet leo. Maecenas interdum euismod nisl blandit luctus. Nulla rutrum posuere nibh at congue. Mauris felis lacus, varius non tincidunt ut, congue vel ligula. Nulla at arcu vel metus tristique vehicula a et enim. Nunc varius velit lobortis turpis congue, vitae tempor eros iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sagittis interdum neque et semper. Phasellus egestas hendrerit tellus, a aliquet magna mattis a. Nulla id scelerisque quam. Pellentesque turpis ipsum, tincidunt ac blandit et, sollicitudin in magna. Praesent ultricies porta enim ut molestie. Aliquam erat volutpat. </p>
            </div>
        </div>
        <div class="row">
            {% for cat in categories %}
                <h2>{{cat.title}}</h2>
                <div class="row">
                {% for forum in cat.get_forums %}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-lg-4 forum-img">
                                <a href="{% url 'forum-detail' forum.slug %}"><img class="img-responsive center-block" src="{{forum.icon.get_forum_thumbnail_url}}"/></a>
                            </div>
                            <div class="col-lg-8">
                                <h3><a href="{% url 'forum-detail' forum.slug %}">{{forum.title}}</a></h3>
                                <p>{{forum.get_summary}}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}