{% extends "base.html" %}
{% load pagination_tags emoticons_tags include %}

{% block title %}{{ topic.title }} - {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Foroa <small>{{forum.title}}: {{topic.title}}</small></h1>
        <p>{{topic.description}}</p>
        <p class="breadcrumb"><a href="/foroa">Denak</a>-><a href="{% url 'forum-detail' forum.slug %}">{{forum.title}}</a>-><strong>{{topic.title}}</strong></p>
        <div id="list">
            {% autopaginate posts 10 %}
            {% for post in posts %}
                <div class="row">
                    <div class="col-xs-12 col-sm-2 text-center">
                        <a href="{% url 'gamer_guestprofile' post.creator.username %}"><img src="{{post.creator.get_photo.get_forum_profile_url}}" alt="" class="center-block img-circle img-responsive"/></a>
                        <p><strong><a href="{% url 'gamer_guestprofile' post.creator.username %}">{{post.creator.getFullName}}</a></strong><br/>{% if post.creator.is_staff %}<img src="{{STATIC_URL}}img/kidea.png" alt="Game Erauntsiako Kidea" class="center-block img-responsive"/>{% endif %}<span class="date">{{post.created|date:"Y/m/d H:i"}}</span>{% if user.is_authenticated %}<br/><a href="{% url 'messages_compose_to' post.creator.username  %}"><span class="glyphicon glyphicon-envelope"></span></a>{% endif %}
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <a id="p{{post.id}}"></a>
                        <h3>{{post.title}}
                        {% if request.user.is_authenticated %}
                        {% if not topic.closed %}
                        <a class="btn btn-default pull-right" href="{% url 'reply' forum.slug pk %}?author={{post.creator}}&quote={{post.body|truncatewords:30}}">Zitatu</a>
                        {% endif %}
                        {% endif %}
                        </h3>
                        <p>{{post.body|safe|urlize|emoticons}}</p>
                        {% if post.creator.signature %}
                        <hr class="dotted" />
                        <p>{{post.creator.signature|safe|urlize|emoticons}}</p>
                        {% endif %}
                    </div>
                </div>
                <hr/>
            {% empty %}
            <div class="alert alert-success" role="alert"><strong>Animatu!</strong> Izan zaitez lehenengoa gai honetan idazten!</div>
            {% endfor %}

            {% paginate %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-lg-12">
                {% if topic.closed %}
                <div class="alert alert-warning pull-right" role="alert"><strong>Berandu!</strong> Gai hau dagoeneko itxita dago...</div>
                {% else %}
                <a class="btn btn-primary pull-right" href="{% url 'reply' forum.slug pk %}">Erantzun</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}