{% extends "base.html" %}

{% block title %}{{ topic.title }} - {% endblock %}

{% block content %}
<!-- Posts  -->
<h1 class="page-header">Foroa: <small>{{forum.title}} - {{ topic.title }}</small></h1>
<div id="list">

    {% for post in posts.object_list %}
        <div class="post">
            <p><strong>{{ post.title }}</strong>></p>
            <p>by {{ post.creator }} | <span class="date">{{ post.created }}</span></p>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}
</div>

<!-- Next/Prev page links  -->
{% if posts.object_list and posts.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href= "?page={{ posts.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ posts.number }} of {{ topics.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </span>
</div>
{% endif %}
<a class="btn btn-primary" href="{% url 'reply' pk %}">Erantzun</a>
{% endblock %}