{% extends "base.html" %}
{% load include %}

{% block title %}{{ topic.title }} - {% endblock %}

{% block content %}
<!-- Posts  -->
<h1 class="page-header">Foroa <small>{{forum.title}}: {{topic.title}}</small></h1>
<p class="breadcrumb"><a href="/foroa">Denak</a>-><a href="{% url 'forum-detail' forum.slug %}">{{forum.title}}</a>-><strong>{{topic.title}}</strong></p>
<div id="list">
    {% for post in posts.object_list %}
        <div class="row">
            <div class="col-xs-12 col-sm-2 text-center">
                <img src="{{post.creator.get_photo.get_forum_profile_url}}" alt="" class="center-block img-circle img-responsive"/>
                <p>{{post.creator}} | <span class="date">{{post.created|date:"Y/m/d H:i"}}</span></p>
                {% if post.creator.is_gamer %}<p class="text-success">Jokalaria</p>{% endif %}
            </div>
            <div class="col-xs-12 col-sm-10">
                <h3>{{post.title}}</h3>
                <p>{{post.body}}</p>
            </div>
        </div>
        <hr/>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary pull-right" href="{% url 'reply' forum.slug pk %}">Erantzun</a>
    </div>
</div>
{% endif %}
{% endblock %}