{% extends "base.html" %}
{% block content%}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Gameplaya igotzeko araudia</h1>
    </div>
    <div class="col-md-12">
        <ul>
            <li>Bideoak gutxienez 720p kalitatea izan beharko du.</li>
            <li>Bideoa euskaraz iruzkinduta egon beharko da. Iruzkindu gabekoa bada euskararekin lotuta egon beharko da.</li>
            <li>Soinuaren kalitate minimo bat eskatzen da. Ahotsa garbi entzutea garrantzitsua da. Batzutan arazoak gerta daitezke honekin, lasai ulertzen dugu</li>
            <li>Formularioa egoki bete beharko da. Nahiz eta guk berrikusten dugun publikatu aurretik, mesedez begiratu ea ondo bete duzuen.</li>
            <li>Bideoaren tituluan nahiz deskripzioan ortografia arauak errespetatzea eskatzen da. (Maiuskulak, s eta z, h egoki jartzea, ...). Hau aipatu beharrik ba al zegoen??</li>
            <li>Bideoak ezin du inor irainndu. Errespetu faltak ez dira onartuko.</li>
        </ul>
    </div>
</div>
{%endblock%}
