{% extends "profile/base.html" %}
{% load i18n include comments %}

{% block title %}{{jokoa.izena}} {{jokoa.bertsioa}} - {% endblock %}

{% block content%}
<div class="row">

    <div class="col-sm-12">
            <h1 class="page-header">{{jokoa.izena}} {{jokoa.bertsioa}}</h1>
        </div>

    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="col-sm-6 pull-right text-right">
                <img class="img-responsive img-thumbnail" src="{{jokoa.logoa.get_videoprofile_url}}"/>
                <p>{{jokoa.desk}}</p>
                <h3><strong>{% widthratio steam_json.price_overview.final 100.0 1 %} €</strong><br/>
                <strong>{{steam_json.metacritic.score}}/100</strong></h3>
                <a href="{{steam_json.metacritic.url}}">Metacritic balorazioa</a>
            </div>
            <p><i class="glyphicon glyphicon-file"></i> {{jokoa.get_lizentzia_display}}</p>
            <p><i class="glyphicon glyphicon-globe"></i> <a href="{{jokoa.url}}">Webgunea</a></p>
            {% if jokoa.wiki %}<p><i class="glyphicon glyphicon-info-sign"></i> <a href="{{jokoa.wiki}}">Wikipedia</a></p>{% endif %}
            {% if steam_json %}
            <p><i class="glyphicon glyphicon-cog"></i> {{steam_json.developers.0}}</p>
            <p>{% if steam_json.platforms.windows %}<img src="{{STATIC_URL}}img/icon_platform_win.png"/>{% endif %}{% if steam_json.platforms.mac %}<img src="{{STATIC_URL}}img/icon_platform_mac.png"/>{% endif %}{% if steam_json.platforms.linux %}<img src="{{STATIC_URL}}img/icon_platform_linux.png"/>{% endif %}</p>
            <p><i class="glyphicon glyphicon-time"></i> {{steam_json.release_date.date}}</p>
            {%endif %}
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a class="btn btn-default" href="/kudeatu/jokoa/jokoa/{{jokoa.id}}">Editatu</a>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-sm-6">
            {% if steam_json.movies %}
             <video width="560" height="315" controls poster="{{steam_json.movies.0.thumbnail}}">
                <source src="{{steam_json.movies.0.webm.480}}" type="video/mp4">
                Zure nabigatzaileak ez du HTML5 erreproduktorea onartzen.
            </video>
            {% else %}
            <div class="flex-video widescreen">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{jokoa.trailer}}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
        </div>
    </div>
    <hr/>
    {% if users %}
    <div class="col-sm-12">
        <h2><i class="glyphicon glyphicon-user"></i> Jokalari izarrak</h2>
        <div class="row well">
            {% for user_prof in users %}
            <div class="col-md-2 portfolio-item">
                <div class="col-xs-4 text-center">
                    <a href="{% url 'gamer_guestprofile' user_prof.username %}"><img src="{{user_prof.get_photo.get_forum_thumbnail_url}}" alt="" class="center-block img-circle"></a>
                </div>
                <div class="col-xs-8">
                    <h4>
                        <a href="{% url 'gamer_guestprofile' user_prof.username %}">{{user_prof.getFullName}}
                        </a>
                    </h4>
                    <p>
                        {% if user_prof.karma %}<i class="glyphicon glyphicon-flash" style="color:#E1E100"></i> <abbr title="Karma">{{user_prof.karma}}</abbr>{% endif %}
                        {% if user.is_authenticated %}<a href="{% url 'messages_compose_to' user_prof.username  %}"><span class="glyphicon glyphicon-envelope"></span></a>{% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div col="col-sm-12">
        <div class="col-sm-6">
            {% if gameplayak %}
                <h2><i class="glyphicon glyphicon-film"></i> Game Playak</h2>
                {% for gp in gameplayak %}
                {% get_comment_count for gp as comment_count %}
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{gp.get_absolute_url}}"><img class="img-responsive" src="{{gp.argazkia.get_videoprofile_url}}" alt="" /></a>
                    </div>
                    <div class="col-sm-8">
                        <h3><a href="{{gp.get_absolute_url}}">{{gp.izenburua}}</a></h3>
                        <p><span class="glyphicon glyphicon-play"></span> {% if gp.jokoa.url %}<a href="{{gp.jokoa.url}}">{{gp.jokoa}}</a>{% else %}{{gp.jokoa}}{% endif%} | <span class="glyphicon glyphicon-time"></span> {{gp.iraupena_min}}min {{gp.iraupena_seg}}seg | <img src="{{gp.plataforma.icon.get_profilesmall_url}}" alt="{{gp.plataforma.izena}}" caption="{{gp.plataforma.izena}}"/>{% if comment_count %} | <a href="{{gp.get_absolute_url}}#iruzkinak">{{comment_count}} <span class="glyphicon glyphicon-comment"></span></a>{% endif %}</p>
                        <p>{{gp.get_desk_txikia|safe}}</p>
                    </div>
                </div>
                <hr/>
                {% endfor %}
            {% endif %}
        </div>
        {% if steam_json.screenshots %}
        <div class="col-sm-6">
            <div id="game_carousel" class="row carousel-holder">
                <div id="carousel-game-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for img in steam_json.screenshots %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            <img class="slide-image" src="{{img.path_thumbnail}}" />
                        </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-game-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-game-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <hr/>
    <div class="col-sm-12">
        <div class="col-sm-8">
        {% render_comment_list for jokoa %}

        {% render_comment_form for jokoa %}
        </div>
        {% if ekintzak %}
        <div class="col-sm-4">
                <h2><i class="glyphicon glyphicon-calendar"></i> Agenda</h2>
        </div>
        {% endif %}
        <div class="col-sm-4">
            <h2><i class="glyphicon glyphicon-book"></i> Terminologia</h2>
            <ul class="list-unstyled">
            {% for term in terminoak %}
            <li><a href="{% url 'search_term' %}?term={{term.term_eu}}">{{term.term_eu}}</a></li>
            {% empty %}
            <li>Ez da hiztegirik garatu...</li>
            {% endfor %}
            </ul>
            {% if terminoak %}<p class="pull-right"><a href="{% url 'search_term' %}?term={{jokoa.izena}}">Ikusi gehiago</a></p>{% endif %}
        </div>
    </div>
</div>

{% endblock %}
