{% extends 'base.html' %}
{% load include %}

{% block title %}{{gp.izenburua}} - Game playak - {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8">
        <div class="flex-video widescreen"><iframe width="700" height="394" src="//www.youtube.com/embed/{{gp.bideoa}}" frameborder="0" allowfullscreen></iframe></div>
        <!-- take out img-rounded if you don't want the rounded corners on the image -->
    </div>
    <div class="col-lg-4">
        <h3>Fitxa teknikoa</h3>
        <div class="well">
        <p><strong>Jokoa: </strong>{% if gp.jokoa.url %}<a href="{{gp.jokoa.url}}">{{gp.jokoa}}</a>{% else %}{{gp.jokoa}}{% endif%}</p>
        <p><strong>Mota: </strong>{% for gai in gp.gaia.all %}{{gai.izena}}{% if not forloop.last %}, {%endif%}{% endfor %}</p>
        <p><strong>Zailtasuna: </strong>{{gp.zailtasuna.izena}}</p>
        <p><strong>Iraupena: </strong>{{gp.iraupena_min}} min {{gp.iraupena_seg}} seg</p>
        <p><strong>Jokalaria: </strong>{{gp.erabiltzailea|get_fullname}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1>{{gp.izenburua}}</h1>
        <p>{{gp.desk}}</p>
    </div>
</div>

<hr>
 <!-- the comment box -->
<div class="well">
    <h4>Utzi iruzkina:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Bidali</button>
    </form>
</div>

<hr>

<!-- the comments -->
<h3>Start Bootstrap
    <small>9:41 PM on August 24, 2013</small>
</h3>
<p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.</p>

<h3>Start Bootstrap
    <small>9:47 PM on August 24, 2013</small>
</h3>
<p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.</p>
{% endblock %}