{% extends "base.html" %}
{% load pagination_tags include %}

{% block title %}Game playak - {% endblock %}

{% block content %}
<div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Game Playak
                <small>
                {% if kategoria %}
                {{kategoria.izena}}
                {% elif maila %}
                {{maila.izena}}k
                {% elif jokoa %}
                {{jokoa.izena}}
                {% elif plataforma %}
                {{plataforma.izena}}
                {% elif gpuser %}
                {{gpuser.fullname}}
                {% else %}
                Denak
                {% endif %}
                </small>
            </h1>
        </div>

        <div class="col-lg-8">
            {% autopaginate gameplayak 6 %}
            {% for gp in gameplayak %}

            {% if not forloop.counter|divisibleby:2 %}
            <div class="row">
            {% endif %}  

                <div class="col-md-6 portfolio-item">
                    <a href="{{gp.get_absolute_url}}">
                        <img class="img-responsive" src="{{gp.argazkia.get_gp_thumbnail_url}}">
                    </a>
                    <h3><a href="{{gp.get_absolute_url}}">{{gp.izenburua}}</a></h3>
                    <p><span class="glyphicon glyphicon-play"></span> {% if gp.jokoa.url %}<a href="{{gp.jokoa.url}}">{{gp.jokoa.izena}} {%if gp.jokoa.bertsioa %}{{gp.jokoa.bertsioa}}{% endif %}</a>{% else %}{{gp.jokoa}}{% endif%} | <span class="glyphicon glyphicon-time"></span> {{gp.iraupena_min}}min {{gp.iraupena_seg}}seg | <img src="{{gp.plataforma.icon.get_profilesmall_url}}"/></p>
                    <p>{{gp.get_desk_txikia|safe}}</p>
                </div>

            {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}

            <hr>

            {% paginate %}
        </div>

        <div class="col-lg-4">
            <div class="well">
                <h3>Bilaketa filtroak</h3>
                <hr/>
                <h4><span class="glyphicon glyphicon-tag"></span> Kategoriak</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            {% for kategoria in kategoriak %}
                            <li><a href="{% url 'gameplay_category' kategoria.slug %}">{{kategoria.izena}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-play"></span> Jokoa</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            {% for jokoa in jokoak %}
                            <li><a href="{% url 'gameplay_game' jokoa.slug %}">{{jokoa.izena}} {%if jokoa.bertsioa %}{{jokoa.bertsioa}}{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-phone"></span> Plataforma</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            {% for plat in plataformak %}
                            <li><a href="{% url 'gameplay_platform' plat.slug %}"><img src="{{plat.icon.get_profilesmall_url}}"/> {{plat.izena}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-fire"></span> Zailtasuna</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            {% for zaila in zailtasunak %}
                            <li><a href="{% url 'gameplay_level' zaila.slug %}">{{zaila.izena}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <a class="btn btn-default" href="{% url 'gameplay_index' %}">Denak</a>
            </div>
            <div class="well">
                <h3>Jokalariak</h3>
                <hr/>
                <div class="row">
                    <div class="col-lg-12">
                        {% for user in users %}
                        <p><a href="{% url 'gamer_profile' user.username %}"><img src="{{user.get_photo.get_profilesmall_url}}" class="img-circle"/> {{user.fullname}}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}
