{% extends "base.html" %}
{% load include %}

{% block title %}Euskarazko bideo-jokoak - {% endblock %}

{% block content%}

<div class="col-sm-12">
    <h1 class="page-header">
        Euskarazko bideo-jokoak
    </h1>
    <p>Batzuk garai bateko joko zaharrak izanik ere xarma berezia dute eta gure nostalgia elikatzeko iturri mugagabea dira. Orain arte euskaraz izan ez ditugun arren, hemendik aurrera gure txikitako momentu miragarri horiek berriz bizi nahi ditugu gure hizkuntzan.</p>
    <p>Beste batzuk aldiz hasiera hasieratik, euskaraz argitaratutakoak dira.</p>
</div>

<div class="col-sm-9    ">
    <h2>Guk itzulitako jokoak</h2>

    <!-- <form class="pull-right" method="get" action="{% url 'search_itzulpenak' %}">
        <input id="search_term" value="" name="term" placeholder="Bilatu jokoa"/>
        <input type="submit" value="Bilatu" class="btn btn-default"/>
    </form> -->

    <div id="content">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jokoa</th>
                            <th>Plataforma</th>
                            <th>Fitxategi izena</th>
                            <th>Egoera</th>
                            <th>Azken bertsioa</th>
                            <th>Deskargatu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td><img src="{{item.jokoa.logoa.get_forum_thumbnail_url}}" alt="{{item.jokoa.izena}} {{item.jokoa.bertsioa}} bideojokoak" title="{{item.jokoa.izena}} {{item.jokoa.bertsioa}} bideojokoak"/></td>
                            <td><strong><a href="{{item.jokoa.get_absolute_url}}">{{item.jokoa.izena}} {{item.jokoa.bertsioa}}</a></strong></td>
                            <td>{{item.plataforma.izena}}</td>
                            <td>{{item.izena}}</td>
                            <td>{{item.get_status_display}}</td>
                            <td>{{item.mod_date|date:"Y/m/d H:i"}}</td>
                            <td><a href="{{item.get_absolute_url}}"><i class="glyphicon glyphicon-download-alt"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2>Euskaraz dauden jokoak</h2>

    <div id="content">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jokoa</th>
                            <th>Plataforma</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in orig_items %}
                        <tr>
                            <td><img src="{{item.jokoa.logoa.get_forum_thumbnail_url}}" alt="{{item.jokoa.izena}} {{item.jokoa.bertsioa}} bideojokoak" title="{{item.jokoa.izena}} {{item.jokoa.bertsioa}} bideojokoak"/></td>
                            <td><strong><a href="{{item.jokoa.get_absolute_url}}">{{item.jokoa.izena}} {{item.jokoa.bertsioa}}</a></strong></td>
                            <td>{{item.plataforma.izena}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-3 well">
    <h3>Beste proiektu batzuk</h3>
    <hr/>
    <ul class="list-unstyled">
        {% for link in links %}
        <li><a href="{{link.url}}"><img src="{{link.irudia.get_profilesmall_url}}" alt="{{link.izena}}" title="{{link.izena}}"> {{link.izena}}</li>
        {% endfor %}
    </ul>
</div>

{%endblock%}
