{% extends 'base.html' %}

{% block title %}Bazkidetza - {% endblock %}

{% block content%}
        <header class="jumbotron hero-spacer">
            <h1>Kaixo {% if bazkidea %}{{bazkidea.user.getFullName}}{% else %}lagun{% endif %}!</h1>
            {% if bazkidea %}
            <p>Mila esker proiektu honi bultzada bat emateagatik!</p>
            {% else %}
            <p>Gure komunitatea handitu asmoz eta bertako partaideei aukera ezberdin gehiago eman asmoz, bazkidetza sistema bat jarri dugu martxan! Game Erauntsiaren jardueretan parte hartzeaz gain, ekarpen ekonomiko txiki bat egiteko aukera emango dizu honek eta guk trukean eskaintza ezberdinak jarriko ditugu zuretzat:</p>
            <ul>
                <li>Hilean behin joko baten zozketan parte hartuko duzu</li>
                <li>Gure zerbitzarietako VIP erabiltzaile izateko deskontua izango duzu</li>
                <li>Komunitateak ateratzen dituen bestelako produktuetan deskontua</li>
                <li>Eta bestelako abantaila batzuk ere izango dituzu!</li>
            </ul>
            <p>Egin zaitez bazkide urte osorako 10€ren truke eta sustengatu proiektu hau</p>
            
            <p><a href="{% if request.user.is_authenticated %}{% url 'create_bazkidea' %}{% else %}{% url 'auth_login' %}?next={% url 'create_bazkidea' %}{% endif %}" class="btn btn-primary btn-large">Bazkide izan nahi dut!</a>
            </p>
            {% endif %}
        </header>

        <hr>

        {% if bazkidea %}
        <div class="row">
            <div class="col-lg-12">
                <h3>Bazkide fitxa</h3>
                <p>Zure bazkidetza egoera honako hau da:</p>

                <table class="table">
                    <thead>
                        <th>Bazkide zenbakia</th>
                        <th>Alta data</th>
                        <th>Iraungitze data</th>
                        <th>Ordainketa</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#{{bazkidea.id}}</td>
                            <td>{{bazkidea.date_joined}}</td>
                            <td>{{bazkidea.expire_date}}</td>
                            <td>{% if bazkidea.paid %}<i class="text-success glyphicon glyphicon-ok"></i>{% else %}<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="PNA5BKQ7QK7RG">
                            <input type="image" src="{{STATIC_URL}}/img/paypal-ordaindu.png" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
                            </form>
                            {% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                {% if not bazkidea.paid %}
                <div class="alert alert-warning" role="alert">
                    <p><strong><span class="glyphicon glyphicon-warning-sign"></span> ADI</strong> Ordainketa gauzatu ostean denboratxo bat igaroko da bazkidetza gauzatu arte. Izan pazientzia pixka bat! Alta prozesua amaitzen denean parte hartu ahal izango duzu gure eskaitzetan.</p>
                </div>
                {% endif %}
             </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <h3>Bazkide izatearen abantailak</h3>
            </div>
        </div>
    
        <div class="row text-center">

        {% for eskaintza in eskaintzak %}

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="{% url 'eskaintza' eskaintza.slug %}"><img src="{{eskaintza.irudia.get_member_feature_url}}" alt="{{eskaintza.izena}}"></a>
                    <div class="caption">
                        <h3><a href="{% url 'eskaintza' eskaintza.slug %}">{{eskaintza.izena}}</a></h3>
                        <p>{{eskaintza.deskribapena|striptags|truncatechars:"100"}}</p>
                        <p>
                            {% if bazkidea.paid and eskaintza.mota != 3 %}<a href="{% url 'kontaktua' %}" class="btn btn-primary">{% if eskaintza.mota == 1 %}Eskatu{% else %}Parte hartu{% endif %}!</a> {% endif %}<a href="{% url 'eskaintza' eskaintza.slug %}" class="btn btn-default">Info gehiago</a>
                        </p>
                    </div>
                </div>
            </div>

        {% endfor %}

        </div>
{% endblock %}