{% extends "berriak/index.html" %}
{% load emoticons_tags include comments bootstrap_calendar ratings %}

{% block morejs %}
    <meta property="fb:app_id" content="{{facebook_id}}" />
    <meta name="twitter:site" content="@gamerauntsia" />
    <meta name="twitter:creator" content="@gamerauntsia" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="gamerauntsia.eus" />
    <meta name="twitter:description" content="{{item.desk|truncatewords:15|safe|striptags}}" />
    <meta name="twitter:title" content="{{item.izenburua}}" />
    <meta name="twitter:url" content="{{item.get_absolute_url}}" />
    <meta name="twitter:image" content="http://gamerauntsia.eus{{item.argazkia.get_blog_url}}" />

    <meta property="og:description" content="{{item.desk|truncatewords:15|safe|striptags}}" />
    <meta property="og:title" content="{{item.izenburua}}" />
    <meta property="og:image" content="http://gamerauntsia.eus{{item.argazkia.get_blog_url}}" />

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/eu_ES/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script src="{{STATIC_URL}}js/fancybox/jquery.fancybox.js"></script>
    <link href="{{STATIC_URL}}js/fancybox/jquery.fancybox.css" rel="stylesheet">

    <link rel="stylesheet" href="{{STATIC_URL}}js/fancybox/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{STATIC_URL}}js/fancybox/helpers/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/fancybox/helpers/jquery.fancybox-media.js"></script>

    <link rel="stylesheet" href="{{STATIC_URL}}star-ratings/css/star-ratings.css">
    <script type="text/javascript" src="{{STATIC_URL}}star-ratings/js/dist/star-ratings.min.js"></script>

    {% bootstrap_calendar_css %}
    {% bootstrap_calendar_js language="eu-ES"  %}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://gamerauntsia.eus/bloga"
      },
      "headline": "{{item.izenburua}}",
      "image": {
        "@type": "ImageObject",
        "url": "{{item.argazkia.get_blog_url}}",
        "height": 900,
        "width": 300
      },
      "datePublished": "{{item.pub_date}}",
      "author": {
        "@type": "Person",
        "name": "{{item.erabiltzailea.getFullName}}"
      },
       "publisher": {
        "@type": "Organization",
        "name": "Gamer Erauntsia",
        "logo": {
          "@type": "ImageObject",
          "url": "{{STATIC_URL}}img/logo.png",
          "width": 217,
          "height": 46
        }
      },
      "description": "{{item.get_desk_txikia}}"
    }
    </script>

{% endblock %}

{% block title %}{{item.izenburua}} - Berriak - {% endblock %}

{% block container%}

        <!-- the actual blog post: title/author/date/content -->
        <h1>{{item.izenburua}}</h1>
        <p class="lead">
            <a href="{% url 'gamer_profile' item.erabiltzailea.username %}"><img src="{{item.erabiltzailea.get_photo.get_profilesmall_url}}" class="img-circle"/> {{item.erabiltzailea.getFullName}}</a> | <span class="glyphicon glyphicon-time"></span> {{item.pub_date|date:"Y/m/d H:i"}} {% for gai in item.gaia.all %}<span class="label label-success tags"><a href="{% url 'gaia' gai.slug %}">{{gai.izena}}</a></span>{% endfor %}
        </p>
        <hr>
        {% if item.argazkia %}
        <a class="fancybox" href="{{item.argazkia.image.url}}">
            <img src="{{item.argazkia.get_blog_url}}" class="img-responsive"/>
        </a>
        <hr>
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.is_superuser or user == item.erabiltzailea %}
        <div class="well">
            <h3>Editatu berria</h3>
            <a class="btn btn-default" href="/kudeatu/berriak/berria/{{item.id}}">Editatu</a>
        </div>
        {% endif %}
        {% endif %}
        <p class="lead">{{item.desk|safe|emoticons}}</p>

        <div class="pull-right">{% ratings item %}</div>

        {% include 'share_buttons.html' with item=item %}

        <hr>

        {% render_comment_list for item %}

        {% render_comment_form for item %}


{%endblock%}

{% block footerjs %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
{% bootstrap_calendar_init language="eu-ES" %}
{% endblock %}
