{% extends "berriak/index.html" %}
{% load emoticons_tags include %}

{% block morejs %}
    <meta property="fb:app_id" content="{{facebook_id}}" />
    <meta name="twitter:site" content="@gamerauntsia" />
    <meta name="twitter:creator" content="@gamerauntsia" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="gamerauntsia.com" />
    <meta name="twitter:description" content="{{item.desk|truncatewords:15|safe|striptags}}" />
    <meta name="twitter:title" content="{{item.izenburua}}" />
    <meta name="twitter:url" content="{{item.get_absolute_url}}" />
    <meta name="twitter:image" content="http://gamerauntsia.com{{item.argazkia.get_blog_url}}" /> 

    <meta property="og:description" content="{{item.desk|truncatewords:15|safe|striptags}}" />
    <meta property="og:title" content="{{item.izenburua}}" />
    <meta property="og:locale" content="eu_ES" /> 
    <meta property="og:url" content="{{item.get_absolute_url}}" />
    <meta property="og:image" content="http://gamerauntsia.com{{item.argazkia.get_blog_url}}" />

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/eu_ES/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

{% block title %}{{item.izenburua}} - Berriak - {% endblock %}

{% block container%}

        <!-- the actual blog post: title/author/date/content -->
        <h1>{{item.izenburua}}</h1>
        <p class="lead">
            <a href="{% url 'gamer_profile' item.erabiltzailea.username %}"><img src="{{item.erabiltzailea.get_photo.get_profilesmall_url}}" class="img-circle"/> {{item.erabiltzailea.fullname}}</a> | <span class="glyphicon glyphicon-time"></span> {{item.pub_date|date:"Y/m/d H:i"}} {% for gai in item.gaia.all %}<span class="label label-success tags">{{gai.izena}}</span>{% endfor %}
        </p>
        <hr>
        {% if item.argazkia %}
        <img src="{{item.argazkia.get_blog_url}}" class="img-responsive"/>
        <hr>
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.is_superuser or user == item.erabiltzailea %}
        <div class="well">
            <h3>Editatu berria</h3>
            <a class="btn btn-default" href="/kudeatu/berriak/berria/{{item.id}}">Editatu</a>
        </div>
        {% endif %}
        {% endif %}
        <p class="lead">{{item.desk|safe|emoticons}}</p>
        <p><a class="twitter popup" href="http://twitter.com/share?text={{item.izenburua|urlfriend}}"><img src="{{STATIC_URL}}img/twitter.png"/></a> <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={% url 'berria' item.slug %}&p[images][0]={{item.argazkia.image.url}}&p[title]={{item.izenburua|urlfriend}}&p[summary]={{item.desk|urlfriend}}"><img src="{{STATIC_URL}}img/facebook.png"/></a></p>
        <hr>
        
        {% render_comment_list for item %}

        {% if user.is_authenticated %}
            {% render_comment_form for item %}
        {% else %}
            <p>Mesedez, <a href="{% url 'auth_login' %}">sartu</a> iruzkina utzi ahal izateko.</p>
        {% endif %}


{%endblock%}
