{% extends "berriak/index.html" %}
{% load include %}

{% block js %}<script type="text/javascript" src="{{STATIC_URL}}js/lightbox.js"></script>{% endblock %}

{% block title %}{{item.izenburua}} - Berriak - {% endblock %}

{% block container%}

        <!-- the actual blog post: title/author/date/content -->
        <h1>{{item.izenburua}}</h1>
        <p class="lead">by {{item.erabiltzailea.username|get_fullname}}
        </p>
        <p>
            <span class="glyphicon glyphicon-time"></span> {{item.pub_date|date:"Y/m/d H:i"}}</p>
        <hr>
        {% if item.argazkia %}
        <img src="{{item.argazkia.get_blog_url}}" class="img-responsive"/>
        <hr>
        {% endif %}
        <p class="lead">{{item.desk|safe}}</p>

        <hr>

        <!-- the comment box -->
        <div class="well">
            <h4>Utzi iruzkina:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Bidali</button>
            </form>
        </div>

        <hr>

        <!-- the comments -->
        <h3>Start Bootstrap
            <small>9:41 PM on August 24, 2013</small>
        </h3>
        <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.</p>

        <h3>Start Bootstrap
            <small>9:47 PM on August 24, 2013</small>
        </h3>
        <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.</p>


{%endblock%}
